[2020-03-02 21:05] jdegoes opened #1 "Add instances of Debug for all Scala standard library types"
- [ ] `String`
- [ ] `Int`
- [ ] `Double`
- [ ] `Float`
- [ ] `Long`
- [ ] `Byte`
- [ ] `Char`
- [ ] `Either`
- [ ] `Option`
- [ ] `List`
- [ ] `Vector`
- [ ] `Map`
- [ ] `Tuple2` - `Tuple22`

[2020-03-02 21:06] jdegoes opened #2 "Add instances of Equal for all Scala standard types"
- [ ] `String`
- [ ] `Int`
- [ ] `Double`
- [ ] `Float`
- [ ] `Long`
- [ ] `Byte`
- [ ] `Char`
- [ ] `Either`
- [ ] `Option`
- [ ] `List`
- [ ] `Vector`
- [ ] `Map`
- [ ] `Tuple2` - `Tuple22`

[2020-03-05 01:27] jdegoes opened #4 "Implement Hash for all standard Scala types"
Mostly this can just use `Hash.default`, except for weird cases like `Array`.

[2020-03-05 01:33] jdegoes opened #5 "Implement Debug.Repr#toString"
Note that `String` values must be printed in an escaped way, surrounded by double quotes, such that they can be copy/pasted into the REPL and reconstruct such strings identically.

[2020-03-07 02:24] #2 closed, assigned to nobody

[2020-03-11 23:17] adamgfraser opened #7 "Add Combinators and Instances for Ord"
I am working on this.

[2020-03-12 16:56] #7 closed, assigned to nobody

[2020-03-12 21:08] adamgfraser opened #9 "Use Laws"
We can upgrade to a snapshot version of ZIO and use the new laws functionality. This will both make it nicer for us to test them and allow us to identity improvement opportunities since I expect we will be one the heaviest users of this functionality. I am working on this.

[2020-03-13 19:20] #9 closed, assigned to nobody

[2020-03-17 00:08] adamgfraser opened #14 "Add Magnolia Support"
I am working on this.

[2020-03-17 17:28] jdegoes opened #16 "Refactor all laws to use ZIO Test notion of law"
/cc @sken77

[2020-03-20 21:50] KamalKang opened #20 "Change Typeclass encoding to use subtyping"

[2020-03-20 23:00] #16 closed, assigned to nobody

[2020-03-25 20:52] jdegoes opened #22 "Add Newtype / Subtype machinery for polymorphic types"
Using, perhaps, `NewtypeF` / `SubtypeF`, we should be able to provide lightweight newtyping / subtyping over polymorphic data types like `First[A]`, `Last[A]`, `Min[A]`, `Max[A]`.

[2020-03-25 21:01] jdegoes opened #23 "Support more natural law syntax"
Right now our laws are a mixture of booleans and `TestResult`. Use of booleans, such as `a > b`, will result in quite poor error messages. Ideally, every law failure produces a richly detailed error message, fully utilizing ZIO Test's facilities for reporting.

We fake this right now using `<->` as an alternate operator, but this doesn't scale: what would we choose for `>`, `>=`, etc.

I think it

[2020-03-25 21:01] #20 closed, assigned to nobody

[2020-03-25 21:03] jdegoes opened #24 "Add Identity instances for all standard Scala types and their newtypes"
- [ ] `String`
- [ ] `Int`
- [ ] `Double`
- [ ] `Float`
- [ ] `Long`
- [ ] `Byte`
- [ ] `Char`
- [ ] `Either`
- [ ] `Option`
- [ ] `List`
- [ ] `Vector`
- [ ] `Map`
- [ ] `Tuple2` - `Tuple22`

[2020-03-25 21:03] jdegoes opened #25 "Add Associative instances for all standard Scala types and their newtypes"
- [ ] `String`
- [ ] `Int`
- [ ] `Double`
- [ ] `Float`
- [ ] `Long`
- [ ] `Byte`
- [ ] `Char`
- [ ] `Either`
- [ ] `Option`
- [ ] `List`
- [ ] `Vector`
- [ ] `Map`
- [ ] `Tuple2` - `Tuple22`

[2020-03-25 21:03] jdegoes opened #26 "Add Closure instances for all standard Scala types and their newtypes"
- [ ] `String`
- [ ] `Int`
- [ ] `Double`
- [ ] `Float`
- [ ] `Long`
- [ ] `Byte`
- [ ] `Char`
- [ ] `Either`
- [ ] `Option`
- [ ] `List`
- [ ] `Vector`
- [ ] `Map`
- [ ] `Tuple2` - `Tuple22`

[2020-03-25 21:04] jdegoes opened #27 "Add Commutative instances for all standard Scala types and their newtypes"
- [ ] `String`
- [ ] `Int`
- [ ] `Double`
- [ ] `Float`
- [ ] `Long`
- [ ] `Byte`
- [ ] `Char`
- [ ] `Either`
- [ ] `Option`
- [ ] `List`
- [ ] `Vector`
- [ ] `Map`
- [ ] `Tuple2` - `Tuple22`

[2020-03-25 21:06] jdegoes opened #28 "Move to hybrid type class relationship encoding with auto-derivation for intersections"
It looks like the following will work:

 - Place instances for standard types inside the companion object of the type classes
 - Derive coherent instances for intersections automatically (e.g. `Equal[A] with Ord[A]` given `Equal[A]` and `Ord[A]`)

/cc @adamgfraser

[2020-03-26 13:16] #22 closed, assigned to nobody

[2020-03-27 15:58] #24 closed, assigned to mijicd

[2020-03-27 22:36] jdegoes opened #33 "Sketch out microsite"
The microsite should probably have:

 - An introductory guide, which would cover several pages
 - A list of type classes, and explanations
 - A list of data types, and explanations
 - A section on worked examples of using type classes and data types
 - A 'background' section covering:
   - Type Classes
   - Operations
   - Laws

[2020-03-27 22:44] jdegoes opened #34 "Make `Equal` more performant"
Right now, only `Equal` instances created with `make` will utilize `refEq`. But increasingly, it's more common to create subtypes directly.

To ensure these are performant, we should make the ref check mandatory, which we can do by making the `equal` method final and requiring subtypes implement some other method.

For example:

[code]

In this way, there is no question that the method will have a

[2020-03-27 22:46] jdegoes opened #35 "Utilize by-name parameters for any case where laziness is important"
For some type class methods, in order to compute an answer, the parameters are both needed.

Good examples are:

 - Equal (cannot tell if two things are equal without looking at both of them)
 - Hash (cannot hash something without looking at it)
 - Debug (although we could fix this by making Debug.Repr lazy)

But for other type class methods, there exist some instances that would not need to evalu

[2020-03-27 22:47] jdegoes opened #36 "Add Scaladoc to Newtype / NewtypeF and helper functions / classes"
The Scaladoc should explain the purpose, the features, and have examples.

[2020-03-27 22:53] jdegoes opened #37 "Consider alternate names for Disj / Conj"
`Forall` / `Exists`? `ForAll` / `ForAny`?

 `And` / `Or`?

[2020-03-27 22:57] jdegoes opened #38 "Move all newtypes into newtypes package"
Given how many newtypes may exist, they should live in their own package, e.g.:

[code]

[2020-03-27 23:00] #37 closed, assigned to nobody

[2020-03-27 23:07] mijicd opened #40 "Add lawless instances"
During my work on #24, I removed Identity instances for double and float. The reason I did this is because both of them violate identity laws. However, having in mind how useful these 2 types are, it makes sense to provide instances for them, but don't include them in law checking and document the reason for that.

[2020-03-28 08:32] mijicd opened #43 "Setup CircleCI"
Currently, we aren't using any CI, which is fine while in prototyping phase, but the codebase grows quite quickly, and "pushes" the language more and more :).

CI configuration present in `.config` is compatible with ZIO's CircleCI setup, and it will become quite useful once repository is transferred. Until that happens, I propose writing a minimal configuration that would run on CircleCI's free t

[2020-03-28 09:24] #40 closed, assigned to nobody

[2020-03-28 11:39] #34 closed, assigned to adamgfraser

[2020-03-28 14:37] #43 closed, assigned to mijicd

[2020-03-28 14:43] #38 closed, assigned to nobody

[2020-03-28 19:47] landlockedsurfer opened #50 "ZIO Prelude does not work from `sbt console`"
**How to reproduce:**
Start `sbt console` in ZIO Prelude project directory from the shell.
Try to e.g. instantiate a `Sum` type using `zio.prelude.Sum(1)`.

**Output:**
[code]

I tried using the latest version of sbt (1.3.7 -> 1.3.8), but this did not help.

[2020-03-29 21:15] landlockedsurfer opened #54 "Commutative Typeclass Instance for Either"
As mentioned in pull request #53 Adam suggested that I put the following `Commutative` implementation for Either up for discussion here:
[code]
The implementation short-circuits in case one operand is Left, else it combines using `Commutative` from either E or A.

[2020-03-30 20:34] #50 closed, assigned to nobody

[2020-03-31 00:35] #27 closed, assigned to KamalKang

[2020-03-31 00:35] #25 closed, assigned to KamalKang

[2020-03-31 00:36] #26 closed, assigned to KamalKang

[2020-03-31 00:36] #4 closed, assigned to nobody

[2020-03-31 00:42] #35 closed, assigned to nobody

[2020-03-31 20:03] #23 closed, assigned to adamgfraser

[2020-04-01 21:05] jdegoes opened #62 "Relax Identity's superclass to be Closure"
Currently, every `Identity` implies `Associative`. But there is no part of `Identity`'s laws that require `Associative`, so the supertype can be changed to `Closure` to permit more instances.

[2020-04-04 14:22] jdegoes opened #65 "Add smart constructor support for newtyping mechanism"
[code]

Etc.

Smart constructor newtypes / subtypes could utilize ZIO Test `Assertion`, e.g.:

[code]

This way failures have descriptive error messages without additional coding. Although possibly we need a mechanism to override these error messages in the event they are going to be shown to a user.

[2020-04-06 20:01] #5 closed, assigned to SamPooni

[2020-04-06 20:01] #1 closed, assigned to jaliss

[2020-04-06 21:26] #65 closed, assigned to nobody

[2020-04-06 21:27] #62 closed, assigned to nobody

[2020-04-07 11:11] #36 closed, assigned to nobody

[2020-04-09 03:34] adamgfraser opened #71 "Support Laws for Higher Kinded Types"
We need to build out the laws functionality in ZIO Test to support higher kinded types like `Covariant`. I am working on this.

[2020-04-09 13:02] adamgfraser opened #72 "Don't Render Fully Qualified Name in Default Debug Renderer"
Currently the default renderer for `Debug` renders the fully qualified name of each constructor. So for example a `Validation` instance would be rendered as `zio.prelude.Validation.Failure(zio.Chunk("some string"))` whereas the rendering given by `toString` would be `Failure(Chunk("some string"))`. While valid and perhaps optimal for compiling the rendering back to Scala, this is not the best defa

[2020-04-09 19:54] jdegoes opened #73 "Create instances of `Covariant` for standard library covariant data types"
- [x] `List`
 - [x] `Vector`
 - [x] `Function[A, *]` - `Function22[A, B, C, ..., *]`
 - [x] `Map[K, *]`
 - [x] `Either[A, *]`
 - [x] `Tuple2[A, *]` - `Tuple22[A, B, C, ..., *]`
 - [x] `Try`
 - [x] `Future`

[2020-04-09 19:56] jdegoes opened #74 "Create instances of Contravariant for standard library data types"
- [ ] `Function2[*, A]` - `Function[*, B, C, ...]`

[2020-04-09 19:58] jdegoes opened #75 "Create instances of `Covariant` for common ZIO data types"
- [ ] `zio.prelude.Id`
- [ ] `ZManaged[*, E, A]`
- [ ] `ZStream[*, E, A]`
- [ ] `Schedule[*, A, B]`
- [ ] `Fiber[E, *]`
- [ ] Other ZIO types

[2020-04-09 19:59] jdegoes opened #76 "Create instances of `Contravariant` for ZIO data types"
- [ ] `ZIO[*, E, A]`
- [ ] `ZManaged[*, E, A]`
- [ ] `ZStream[*, E, A]`
- [ ] `Schedule[*, A, B]`
 - [ ] Other ZIO data types

[2020-04-09 20:03] jdegoes opened #77 "Make `NonEmptyList` extend Seq"
`NonEmptyList[A]` should extend `Seq[A]` and should override all relevant methods to return a `NonEmptyList[A]` when possible.

[2020-04-09 20:03] jdegoes opened #78 "Add non-Seq methods to NonEmptyList[A]"
`NonEmptyList[A]` should have methods that make sense only on non-empty lists: for example, safe `head`, safe `reduce`, etc.

[2020-04-09 20:07] jdegoes opened #79 "Add constructors to NonEmptyList[A] companion object"
For example:

[code]

[2020-04-09 20:09] jdegoes opened #80 "Add `Invariant` instances for common standard library types"
- [ ] `Set`

???

[2020-04-09 20:10] jdegoes opened #81 "Add `Invariant` instances for ZIO Prelude types"
- [ ] `Closure`
 - [ ] `Associative`
 - [ ] `Commutative`
 - [ ] `Identity`

???

[2020-04-11 21:25] #74 closed, assigned to adamgfraser

[2020-04-11 21:25] #76 closed, assigned to adamgfraser

[2020-04-11 21:26] #77 closed, assigned to adamgfraser

[2020-04-11 21:26] #78 closed, assigned to adamgfraser

[2020-04-11 21:26] #79 closed, assigned to adamgfraser

[2020-04-11 21:45] adamgfraser opened #86 "Resolve Inconsistency in Rendering of Algebraic Data Types"
Right now have some consistency in the rendering of algebraic data types. For example:

[code]

The `Either` subtype doesn't even have "Either" anywhere (possibly because it is exported in the `scala` package object), whereas the `Validation` subtype not only has the parent type name but included it as part of the name of the type itself so it will always be rendered, which is inconsistent with th

[2020-04-13 20:29] #54 closed, assigned to nobody

[2020-04-14 00:14] #71 closed, assigned to adamgfraser

[2020-04-14 19:00] adamgfraser opened #92 "How Should We Support "Test" Equal Instances?"
We're starting to add instances for more data types that don't have well defined `Equal` instances. For example, `Ord` isn't a data type so we can't just look at two `Ord` values and say whether they are equal. At the same time, we would like to be able to test laws for them to make sure our instances are well behaved.

One approach to do this would be to allow defining some "test" `Equal` instanc

[2020-04-15 21:45] jdegoes opened #94 "Add ZIO Test laws for Equivalence"

[2020-04-15 21:45] jdegoes opened #95 "Add ZIO Test Laws for AssociativeF.Both"

[2020-04-15 21:45] jdegoes opened #96 "Add ZIO Test Laws for AssociativeF.Either"

[2020-04-21 02:26] #72 closed, assigned to nobody

[2020-04-22 19:19] #95 closed, assigned to adamgfraser

[2020-04-22 19:19] #96 closed, assigned to adamgfraser

[2020-04-22 21:10] jdegoes opened #104 "Perform renames of higher-kinded type classes"
- [ ] `AssociativeF.Both` => `AssociativeBothF`
 - [ ] `AssociativeF.Either` => `AssociativeEitherF`
 - [ ] `CommutativeF.Both` => `CommutativeBothF`
 - [ ] `CommutativeF.Either` => `CommutativeEitherF`
 - [ ] `IdentityF.Both` => `IdentityBothF`
 - [ ] `IdentityF.Either` => `IdentityEitherF`

[2020-04-22 21:11] jdegoes opened #105 "Introduce ZIO Test laws for CommutativeF.Both, CommutativeF.Either"

[2020-04-22 21:11] jdegoes opened #106 "Introduce ZIO Test laws for IdentityF.Both, IdentityF.Either"

[2020-04-22 21:12] jdegoes opened #107 "Add syntax class for CommutativeF.Both, CommutativeF.Either"

[2020-04-22 21:12] jdegoes opened #108 "Add syntax class for IdentityF.Both, IdentityF.Either"

[2020-04-23 12:47] #104 closed, assigned to adamgfraser

[2020-04-23 12:47] #105 closed, assigned to adamgfraser

[2020-04-23 12:47] #106 closed, assigned to adamgfraser

[2020-04-23 12:47] #107 closed, assigned to adamgfraser

[2020-04-24 18:33] #108 closed, assigned to nobody

[2020-04-27 23:32] adamgfraser opened #113 "Issues with `Nothing` Instances"
Seeing a couple of issues with the implicit instances for `Nothing`. First, instances of parameterized on `Nothing` such as `Equal[Nothing` aren't available in implicit scope. Even if I move everything other than `Nothing` to a lower priority scope I still get this error. I think there is some kind of logic that `Nothing` does not qualify as a more specific type.

[code]

Also, even if I define an

[2020-05-06 17:17] #94 closed, assigned to adamgfraser

[2020-05-08 18:13] jdegoes opened #115 "Drop `F` suffix on type classes"
I think given that we have no duplicates / overlaps, it makes sense to drop the `F` suffix on the type classes (`Both` and `Either` are necessarily higher-kinded).

[2020-05-08 18:14] jdegoes opened #116 "Inline type aliases used to define zio.prelude.classic"
The type aliases used in zio.prelude.classic just add one layer of indirection; it would be better to inline all those type aliases so one can see, at a glance, which properties are associated with every 'classic' type class.

[2020-05-08 18:14] jdegoes opened #117 "Encode AssociativeFlatten laws as ZIO Test laws"

[2020-05-08 18:16] jdegoes opened #118 "Perform renames of different identities"
To avoid clashes:

 - `IdentityBoth.identity` => `IdentityBoth.any`
 - `IdentityEither.identity` => `IdentityBoth.nothing`

This way, we can have data types that implement _both_ instances.

[2020-05-08 20:02] #118 closed, assigned to nobody

[2020-05-09 15:03] #115 closed, assigned to adamgfraser

[2020-05-09 16:14] #116 closed, assigned to adamgfraser

[2020-05-10 21:54] #117 closed, assigned to adamgfraser

[2020-05-10 22:31] #73 closed, assigned to jaliss

[2020-05-27 23:06] #75 closed, assigned to jaliss

[2020-05-28 11:51] jaliss opened #125 "Add `Covariant` instance for a failed Either"

[2020-05-28 20:44] #125 closed, assigned to jaliss

[2020-05-29 00:16] #81 closed, assigned to KamalKang

[2020-05-29 00:55] adamgfraser opened #128 "Should We Provide FlatMap for Validation?"
We currently don't provide `flatMap` for `Validation` because we want to accumulate errors. But we could potentially offer `flatMap` and `zip` methods with fail fast semantics in addition to the existing `zipPar` variants with error accumulating semantics. This would help users because they wouldn't have to switch back and forth between `Either` and `Validation` to get these different behaviors. T

[2020-05-29 01:00] adamgfraser opened #129 "Implement AssociativeFlatten Instance Map"
- [x] List
- [x] Vector
- [x] Map[K, *]
- [x] Either[A, *]
- [x] Try
- [x] Future

[2020-05-29 01:03] adamgfraser opened #130 "Implement IdentityFlatten Instances for All Standard Library Types"
- [x]  List
- [x]  Vector
- [x]  Either[A, *]
- [x]  Try
- [x]  Future

[2020-05-29 01:07] adamgfraser opened #131 "Implement AssociativeFlatten Instances for All ZIO Types"
- [x] Cause
- [x] Chunk
- [x] Exit
- [x] ZIO
- [x] NonEmptyChunk
- [x] ZManaged
- [x] ZStream

[2020-05-29 01:07] adamgfraser opened #132 "Implement IdentityFlatten Instances for All ZIO Types"
- [ ] Cause
- [ ] Chunk
- [ ] Exit
- [ ] ZIO
- [ ] NonEmptyChunk
- [ ] ZManaged
- [ ] ZStream

[2020-05-29 01:11] adamgfraser opened #133 "Implement Covariant Instances for Other ZIO Data Types"
- [ ] Cause
- [ ] Chunk
- [ ] Exit
- [ ] NonEmptyChunk
- [ ] ZRef
- [ ] ZRefM

[2020-05-29 01:12] adamgfraser opened #134 "Implement Contravariant Instance for ZRefM"

[2020-05-29 01:16] adamgfraser opened #135 "Implement AssociativeEither Instances for Standard Library Types"
- [ ] Either
- [ ] Try
- [ ] Future

[2020-05-29 01:16] adamgfraser opened #136 "Implement CommutativeEither Instances for Standard Library Types"
- [ ] Future

[2020-05-29 01:20] adamgfraser opened #137 "Implement AssociativeEither Instances for ZIO Data Types"
- [ ] Exit
- [ ] Fiber
- [ ] ZIO
- [ ] ZManaged
- [ ] ZLayer
- [ ] ZStream
- [ ] Schedule

[2020-05-29 01:24] adamgfraser opened #138 "Implement CommutativeEither Instances for ZIO Data Types"
- [x] ZIO
- [ ] ZManaged
- [ ] Schedule
- [x] ZStream
- [x] ZSink

[2020-05-29 01:31] adamgfraser opened #139 "Add AssociativeBoth Instances for Standard Library Types"
- [ ] List
- [ ] Vector
- [ ] Either
- [ ] Try
- [ ] Future

[2020-05-29 01:32] adamgfraser opened #140 "Add CommutativeBoth Instances for Standard Library Types"
- [ ] List
- [ ] Vector

[2020-05-29 01:36] adamgfraser opened #141 "Add AssociativeBoth Instances for ZIO Types"
- [x] Chunk
- [x] Exit
- [x] Fiber
- [x] NonEmptyChunk
- [x] Schedule
- [x] ZIO
- [x] ZLayer
- [x] ZManaged
- [x] ZSTM
- [x] ZSink
- [x] ZStream
- [ ] ZTransducer

[2020-05-29 01:38] adamgfraser opened #142 "Add CommutativeBoth Instances for ZIO Types"
- [ ] Chunk
- [ ] Exit
- [ ] NonEmptyChunk
- [ ] Schedule
- [ ] ZIO
- [ ] ZLayer
- [ ] ZManaged
- [ ] ZSink
- [ ] ZStream

[2020-05-29 01:46] adamgfraser opened #143 "Add High Arity Variants of `Validation#zipWithPar`"
We should add higher arity variants of `zipWithPar` to `Validation` to support combining multiple `Validation` values of different types at the same time.

[code]

We should probably add for arities up to 22.

Copying @ghostdogpr.

EDIT: Naming updated to reflect comment below and for consistency with ZIO.

[2020-05-29 01:51] adamgfraser opened #144 "Add Combinators to Compose Multiple F Values with AssociativeBoth"
Similar to #143, it would be nice to be able to combine more than two `F` values into a tuple given that we have an `AssociativeBoth` for `F`.

[code]

Copying @ghostdogpr.

[2020-05-31 23:11] #135 closed, assigned to mijicd

[2020-06-02 16:40] #137 closed, assigned to mijicd

[2020-06-04 18:12] #143 closed, assigned to adamgfraser

[2020-06-14 07:58] #134 closed, assigned to mijicd

[2020-06-20 05:09] #80 closed, assigned to KamalKang

[2020-06-22 16:31] #144 closed, assigned to mschuwalow

[2020-06-30 16:28] #132 closed, assigned to mijicd

[2020-07-01 12:15] #142 closed, assigned to KamalKang

[2020-07-01 12:18] #139 closed, assigned to KamalKang

[2020-07-01 12:18] #140 closed, assigned to KamalKang

[2020-07-27 18:55] #133 closed, assigned to jaliss

[2020-07-31 14:01] #128 closed, assigned to nobody

[2020-07-31 14:01] #28 closed, assigned to adamgfraser

[2020-07-31 14:02] #129 closed, assigned to jaliss

[2020-07-31 14:39] #130 closed, assigned to KamalKang

[2020-07-31 15:21] #131 closed, assigned to KamalKang

[2020-07-31 15:23] #138 closed, assigned to KamalKang

[2020-07-31 15:26] #141 closed, assigned to KamalKang

[2020-07-31 17:51] #136 closed, assigned to KamalKang

[2020-08-01 05:16] joroKr21 commented on #113
Of course - `Equal` is contravariant so both `Equal[Int]` and `Equal[String]` are more specific than `Equal[Nothing]`.

[2020-08-01 09:14] spavikevik commented on #33
Hey @jdegoes, would love to help out setting it up. Do you have any idea/plan what software to use?

[2020-08-01 20:31] smarter commented on #113
That behavior is reversed in Dotty (https://github.com/lampepfl/dotty/blob/bb23fea9f5605f12650f4aa5ef8716c3237c1ac4/compiler/src/dotty/tools/dotc/typer/Applications.scala#L1482-L1512), and Scala 2 do essomething similar under `-Xsource:3.0`: https://github.com/scala/scala/pull/6037

[2020-08-02 04:16] joroKr21 commented on #113
Oh cool, I didn't realize it was back ported. I guess this is only 2.13 though. Maybe it's reasonable to expect that most who use this library should be already on 2.13.

[2020-08-02 13:12] fommil commented on #113
This is Contrarivariance: https://leanpub.com/fpmortals/read#leanpub-auto-type-variance

You'll hit this anywhere there is a subtype hierarchy. All credit to Paul Phillips for first identifying the bug (which for many years was declared a feature) and naming it so well.

[2020-08-03 12:56] ahoy-jon opened #182 "Covariant AssociativeBoth ?"
While reading the code `AssociativeBoth` is not covariant, but apply ask for a covariant `F[+_]`.

https://github.com/zio/zio-prelude/blob/863236fb015a68219bf3656740de56ad96f7b473/src/main/scala/zio/prelude/AssociativeBoth.scala#L20

https://github.com/zio/zio-prelude/blob/863236fb015a68219bf3656740de56ad96f7b473/src/main/scala/zio/prelude/AssociativeBoth.scala#L33-L34

Is that normal?

[2020-08-03 13:17] adamgfraser commented on #182
Good catch. Just submitted a PR to fix.

[2020-08-03 13:50] #182 closed

[2020-08-05 01:06] jdegoes opened #187 "Delete Closure"
It really doesn't pull its weight as an abstraction IMO.

[2020-08-05 01:08] adamgfraser commented on #187
I agree. It just doesn't have enough structure to say much. There is a pull request for that, as they would say.

[2020-08-05 19:56] mijicd opened #190 "Make Hash produce longs"
The current version of `Hash` is able to produce 32-bit hashes, and it has somewhat of a bias toward the `hashCode`s. However, this makes it unusable for larger hashes as Alex pointed out [here](https://gist.github.com/alexknvl/28dd6a0693c2d92d45528a62f7df9e0e).

That said, I'd like to hear the opinions for and against this change. Cheers :beers:

[2020-08-05 19:56] mijicd commented on #190
cc @alexknvl

[2020-08-05 20:41] adamgfraser commented on #190
It would definitely allow defining instances for a greater variety of "industrial strength" hashing algorithms.

However, it would also move us a bit farther from the Scala standard library. We could still create a `Hash` from any `hashCode` definition by widening an `Int` to a `Long`. But it would mean that if users wanted to use any of our `Hash` instances in a context that expected a `hashCode`

[2020-08-06 08:05] alexknvl commented on #190
How about
[code]

[2020-08-06 08:07] alexknvl commented on #190
The only problem is that type-specific versions of `hashCode` could be faster in principle.

[2020-08-07 14:39] thesamet opened #191 "Inverse signature does not match its documentation"
In https://github.com/zio/zio-prelude/blob/9bbfa4fd23b85b67f58b71c46ff4f7c85ab243c4/src/main/scala/zio/prelude/Inverse.scala#L10-L16:

[code]

Based on the documentation and the trait's name, I would expect a function takes an `A` and return an `A` - however it seems like the intention of this type class is a subtraction operation, not inversion.

[2020-08-07 14:44] adamgfraser commented on #191
@thesamet Yes, we found that an `Inverse` operation that was the inverse of the normal associative operation and "undid" it was more general because you can describe for example subtraction on natural numbers that way whereas you can't do so purely in terms of an inverse value and the normal associative operation because negative numbers aren't in the set of natural numbers. You're right the docum

[2020-08-07 14:53] thesamet commented on #191
Thanks for the quick response, Adam. Since `inverse` has a different meaning in algebra, consider renaming the trait to some opposite of `combine`, perhaps `Subtract` or something like that.

[2020-08-07 18:37] thesamet opened #192 "Shoud Commutative extend Associative?"
Looking at:
https://github.com/zio/zio-prelude/blob/9bbfa4fd23b85b67f58b71c46ff4f7c85ab243c4/src/main/scala/zio/prelude/Commutative.scala#L8

There are commutative operations that are not associative, for example, the average of two numbers. I am still trying to grok the the code, but wonder having Commutiative extends Associative is limiting the generality, or just makes an assumption for the int

[2020-08-07 18:46] adamgfraser commented on #192
Yes you are definitely right that there are operations that are commutative but not associative. In an earlier version `Commutative` actually didn't extend `Associative`. Our perspective was that there are relatively few interesting operations that are commutative but not associative and there are costs to separating them in terms of then requiring more work to describe operations that are both co

[2020-08-07 18:59] denisgarci commented on #192
Another operation that is commutative but no associative is floating-point addition due to rounding errors. See https://stackoverflow.com/questions/10371857/is-floating-point-addition-and-multiplication-associative

[2020-08-07 19:04] adamgfraser commented on #192
Yes. So far we have had that perspective that it makes sense to define `Associative` instances for these types (see [here](https://github.com/zio/zio-prelude/blob/9bbfa4fd23b85b67f58b71c46ff4f7c85ab243c4/src/main/scala/zio/prelude/Associative.scala#L80)) on the theory that if you are using floating point numbers you understand there can be rounding errors and it is not helpful to not provide insta

[2020-08-07 19:34] #187 closed

[2020-08-07 20:51] jdegoes opened #193 "Turn Validation into ZValidation with extra type parameter"
We should add a `Log` type parameter (covariant) that appears on successful values (and failures).

Then an operator like `??` (`log`) that allows adding something to the log.

[code]

Internally the log can be stored in `Chunk[W]` in both the success and failure cases.

[2020-08-07 21:11] adamgfraser commented on #193
I will add.

[2020-08-08 03:51] adamgfraser commented on #193
I wonder if we need a free semiring structure like `Cause` here to capture the potential parallel and sequential structure of the log.

[2020-08-08 18:08] jdegoes commented on #193
Couldn't hurt to add that if we package it up nicely, in fact maybe a general data type for such things.

[2020-08-11 13:37] regiskuckaertz opened #200 "Consider Undo"
Hey friends 👋

I looked at the `Inverse` type class (love the symmetry with `combine` even though the names do not convey that relationship) and thought it would be interesting to try to capture effects that can be undone in the same vein.

[code]

Opinion?

[2020-08-12 22:25] jorge-vasquez-2301 opened #206 "Improve Traversable syntax so foreach does not clash with List.foreach"
Currently, it's not possible to use `foreach` syntax in collections like `List`, because there's already a `List.foreach` method

[2020-08-12 22:28] jorge-vasquez-2301 opened #207 "Add GenF instances for Option, Try and Future"
We need these instances for being able to write tests involving `Option`, `Try` and `Future`

[2020-08-12 22:28] jorge-vasquez-2301 commented on #207
I'll work on this

[2020-08-12 22:30] jorge-vasquez-2301 opened #208 "Add IdentityBoth instances for Either, Try and Future"
We need IdentityBoth instances for Either, Try and Future

[2020-08-12 22:30] jorge-vasquez-2301 commented on #208
I'll work on this

[2020-08-12 22:32] adamgfraser commented on #207
@jorge-vasquez-2301 Great!

[2020-08-12 22:32] adamgfraser commented on #208
@jorge-vasquez-2301 Awesome!

[2020-08-13 14:14] #207 closed

[2020-08-15 01:22] rnd4222 opened #213 "Remove dependency on ZIO"
It is important that `zio` would depend on `zio-prelude`, not the other way around, for the following reason:

1. **Loss of Abstraction**. Any abstraction that features a concrete instance of that abstraction inside the abstraction (e.g. `ZIO` appears in the zio-prelude typeclasses) is no longer an abstraction at all. To define the meaning of an effect in terms of a concrete data type is to abando

[2020-08-17 16:10] sideeffffect opened #215 "Consolidate the implementation of Type class instances"
In the same spirit as https://github.com/zio/zio-prelude/pull/212#issuecomment-673987171 I would like to propose we do that to all other types:
We remove the redundant instances and put the implementation for most concrete Type class to the companion object of the most abstract trait. That way, there's just one, and thus always coherent, implementation for a given Type class hierarchy.
I volunteer

[2020-08-17 16:54] adamgfraser commented on #215
@sideeffffect Good idea! We can probably break it up into the `Equal` hierarchy, the `Associative` hierarchy, and the `AssociativeBoth` / `AssociativeEither` hierarchies. I am also happy to do some of it.

[2020-08-17 17:17] sideeffffect opened #216 "Kind projector"
https://github.com/typelevel/kind-projector

Is there a reason we don't use Kind projector and instead, write the type lambdas manually ourselves?

[2020-08-17 17:31] adamgfraser commented on #213
@rnd4222 Thanks for raising! This is definitely something we have thought about it since it is the approach that other functional programming libraries have taken. However, I don't think it is the right approach for us.

First, I don't think that it makes sense for ZIO to depend on ZIO Prelude. ZIO is a library that is focused on solving problems in asynchronous and concurrent programming using th

[2020-08-17 17:49] joroKr21 commented on #213
There is a third option - neither depends on the other, instances live in their own module.

[2020-08-17 17:50] adamgfraser commented on #216
I think it reduces the accessibility of the library. Kind projector or not we need to be doing everything possible to avoid end users having to interact with partially applied types. Using it results in shorter syntax in some cases but also syntax that is not actually Scala and requires people to understand a compiler plugin and how it changes the language specification. I know there have also bee

[2020-08-17 17:50] sideeffffect opened #218 "Consolidate the implementation of Type class instances: Equal"
Consolidate the `Equal` type class hierarchy

Make sure to maintain the "fail fast" approach for mere equality checking, e.g. by checking Map size first, etc...

parent issue: https://github.com/zio/zio-prelude/issues/215

[2020-08-17 17:52] sideeffffect opened #219 "Consolidate the implementation of Type class instances: Associative"
Consolidate the `Associative` type class hierarchy

parent issue: https://github.com/zio/zio-prelude/issues/215

[2020-08-17 17:53] sideeffffect opened #220 "Consolidate the implementation of Type class instances: AssociativeBoth"
Consolidate the `AssociativeBoth` type class hierarchy

parent issue: https://github.com/zio/zio-prelude/issues/215

[2020-08-17 17:56] sideeffffect commented on #216
fair enough

[2020-08-17 18:42] adamgfraser commented on #216
Understood. It is more an issue for contributors and readers of the code.

[2020-08-17 18:51] #208 closed

[2020-08-17 21:14] adamgfraser commented on #213
That is certainly a possibility. I think the practical implications are:

1. Users need to a do a third import to get all the instances.
2. Smart type functionality out of the box is significantly degraded. Instead of users being able to use assertions with out of the box composability and error reporting they would need to provide their own predicates and error messages. A more robust version cou

[2020-08-17 22:53] joroKr21 commented on #213
The logical conclusion of that approach would be to extract assertions and validation in a mini library. After all there is no reason for them to depend on zio.

[2020-08-17 23:21] adamgfraser commented on #213
That is possible.

The assertions themselves actually do have a reason to depend on ZIO because they describe both effectual and pure assertions. Of course you could split that but then you are taking one data type that unifies them and somewhat artificially splitting it up.

I think `Validation` is a pretty standard type that you expect in a library of functional programming abstractions and is o

[2020-08-18 01:49] adamgfraser commented on #219
I will do this one.

[2020-08-18 16:51] sideeffffect commented on #218
I'll do this one (once https://github.com/zio/zio-prelude/pull/221 because of possible merge conflicts)

[2020-08-26 03:20] #219 closed

[2020-09-02 03:29] vakkadar opened #237 "Commutative TypeClass and its relation to Associative TypeClass"
In Zio prelude Commutative[A] extends Associative[A] even though everyone is aware of the fact that they two completely independent properties. The reason for this decision is that in most common business use cases commutative and associative properties are satisfied together.  But there are few examples especially with respect to numerical computation and machine learning, it will fail are

1. Ma

[2020-09-02 03:48] adamgfraser commented on #237
@vakkadar Thanks for raising this issue!

One important thing to keep in mind here is that since `Commutative` extends `Associative` we have a way to describe two kinds of operations:

1. Those that are associative but not commutative (by implementing `Associative`)
2. Those that are both associative and commutative (by implementing `Commutative`)

Both of the examples you gave (list concatenation

[2020-09-02 04:41] #218 closed

[2020-09-02 14:17] vakkadar commented on #237
@adamgfraser did you see my update on vector multiplication which talks about Non Associative Commutative Magma. Also I understand the rationale for such a decision but still for a library which will be critically reviewed, I think either this rationale needs to be articulated in the main README in a section like assumptions or reviewed with a newer design

[2020-09-02 22:00] adamgfraser commented on #237
@vakkadar Thanks for pointing that out! I responded to your original post so I don't think I would have seen your update otherwise.

That is an interesting example with the rock, paper, scissors game. I think we are all in agreement that there are certain operations that are commutative but not associative (the arithmetic mean of two numbers was raised before and is also mentioned in the article y

[2020-09-09 14:01] regiskuckaertz opened #261 "Traversable.foldRight considered harmful"
Right folds are lazy by nature. A better type would be:

[code]

This is how the fold can short-circuit instead of traverse the whole structure.

[2020-09-09 14:13] adamgfraser commented on #261
@regiskuckaertz This is definitely a good topic. I think the main issue here is that this signature is not stack safe.  I think we could do a version with `ZPure` that short circuits and would be stack safe.

[2020-09-09 17:04] regiskuckaertz commented on #261
that would be amazing! Is stack-safety a guarantee you want to provide by default? It is quite strong. I wonder if this is not too limiting, but admittedly there are not many lazy data structures in Scala.

[2020-09-10 15:38] nartamonov commented on #216
I'm relatively layman in the world of FP, but at my work we extensively use ZIO and othen FP libs to drive our stuff. So, in my opinion (it may be shared with other novices and not so advanced people like me) definition of the following instance:

[code]

would be much more readable and understandble with the syntax of kind projector:

[code]

Just for example. I think that `lambda` stuff makes co

[2020-09-10 17:12] sideeffffect commented on #216
@nartamonov yeah... I'm also beginning to think that _not_ using Kind projector is causing more harm than benefit...
If there would be an agreement to change the codebase over to Kind projector syntax, I'd volunteer to do the work -- IntelliJ will make the job dead simple for me, because it has an auto-suggestion which will do the actual rewriting :wink:

[2020-09-10 21:05] ciuncan opened #269 "Add syntax helpers for `Divariant` typeclass operations (`dimap`, `leftMap`, `rightMap`)"
Similar to how other typeclasses provide `Ops` traits that add operations provided by that type class to implemented instances as extension methods, `Divariant` should also have one.

cc. @sideeffffect

[2020-09-10 21:17] ciuncan commented on #269
PR available at https://github.com/zio/zio-prelude/pull/270.

[2020-09-10 21:24] #269 closed

[2020-09-12 12:55] sideeffffect commented on #261
Would it work like this https://github.com/scala/scala-collection-contrib/pull/18 ?

[2020-09-12 14:33] adamgfraser commented on #261
@sideeffffect Blast from the past, right!

I spent some time on this yesterday and I think unfortunately it is more complicated. We can definitely implement some kind of stack safe lazy fold on a concrete data structure, using a signature like that or `lazyFoldRight` from the same source.

However, I think for this to be an operator on `Traversable` we would want to be able to implement a lazy fol

[2020-09-12 14:33] sideeffffect opened #272 "Rethink Newtype.Tag (not only) because of Dotty"
@adamgfraser https://github.com/zio/zio-prelude/pull/246#issuecomment-691368551

[2020-09-12 14:35] sideeffffect opened #273 "Rethink Equality for contravariant types (not only) because of Dotty"
@adamgfraser https://github.com/zio/zio-prelude/pull/246#discussion_r487353697 https://github.com/lampepfl/dotty/issues/9778#issuecomment-691390362

[2020-09-12 14:36] adamgfraser commented on #273
I will work on this.

[2020-09-13 06:47] regiskuckaertz commented on #261
oh I did not see that. Yeah I agree, this is a tough one. The trick used in PureScript is to write `foldr` in terms of `foldMap` and vice versa, then ask the use to provide an implementation for at least one of them; perhaps you could do the same with `foldRight`/`foreach`?

[2020-09-13 12:15] regiskuckaertz commented on #272
Isn't this going to be way easier:

[code]

[2020-09-14 18:30] lemastero commented on #220
I will work on that.

[2020-09-15 00:02] lemastero opened #278 "Move BooleanAlgebra from zio-test"
In zio-test there is [BoolAlgebra](https://github.com/zio/zio/blob/master/test/shared/src/main/scala/zio/test/BoolAlgebra.scala). It is a general-purpose abstraction that could live in `zio-prelude`.

I believe other versions of abstractions from logic like Semilattice, Hayting algebra could end-up here as well, or possibly even Kleene Algebras, as it has lots of applications.

An alternative woul

[2020-09-15 15:25] lemastero opened #281 "Improve laws IdentityCompose, AssociativeCompose, Divariant"
Some type classes have defined laws in a non-standard way:
* `IdentityCompose`
* `AssociativeCompose`

`Divariant` does not have laws at all.

[2020-09-15 15:25] lemastero commented on #281
I am working on this.

[2020-09-15 19:43] sideeffffect opened #282 "Consolidate the implementation of Type class instances: AssociativeEither"
Consolidate the `AssociativeEither` type class hierarchy

parent issue: #215

[2020-09-15 19:44] sideeffffect opened #283 "Consolidate the implementation of Type class instances: Invariant"
Consolidate the `Invariant` type class hierarchy

parent issue: #215

[2020-09-15 20:06] sideeffffect opened #284 "Consolidate the implementation of Type class instances: AssociativeFlatten"
Consolidate the `AssociativeFlatten` type class hierarchy

parent issue: #215

[2020-09-15 20:07] sideeffffect opened #285 "Consolidate the implementation of Type class instances: AssociativeCompose"
Consolidate the `AssociativeCompose` type class hierarchy

parent issue: #215

[2020-09-16 15:32] lemastero commented on #216
I vote for kind projector if the dotty plays nicely with it.

type lambdas syntax is the most horrible part of Scala (unless sb will teach you how to use them).
KindProjector lowers the barrier significantly. You don't need to know that that it exists or that type lambda exists or what is compiler plugin.

It is intuitive to use * in place of the type you want to abstract over.

The only drawback

[2020-09-16 16:11] lemastero opened #290 "Laws and tests for Divariant"
- [ ] define laws using predicates
- [ ] add instances for Divariant
- [ ] add support for law testing for Divariant (possibly needs change in zio-test)
- [ ] add tests for instances using ZSpec

I am able to add laws using predicates like in `IdentityCompose`
[code]
and instances, as I have done a decent amount of work around profunctors (Divariant).
To handle laws using Lawful/Laws/.... I would

[2020-09-16 16:17] sideeffffect commented on #216
@lemastero wholeheartedly agree! Sadly, Dotty doesn't support variance annotations (like `+*`, `-*`) yet :crying_cat_face:
https://github.com/lampepfl/dotty/issues/7139#issuecomment-565468066

[2020-09-16 21:31] sideeffffect commented on #290
I actually tried that, but I found the Lawful/Laws/... from ZIO Test insufficient :disappointed:
We would need in ZIO Test something like this
[code]

Given that, then we would need to write `Derive2` and `Derive2Equal` and `coherent.DivariantDerive2Equal` but that should already be simple enough.

[2020-09-16 22:04] #285 closed

[2020-09-16 22:22] #282 closed

[2020-09-16 23:11] #220 closed

[2020-09-16 23:14] sideeffffect commented on #290
ticket in ZIO to implement this: https://github.com/zio/zio/issues/4211

[2020-09-16 23:15] adamgfraser commented on #290
Yes, the downside of the laws framework is that you need a different instance for each kind since we don't really have a way to abstract over kindedness in Scala 2, but that is definitely something we can add!

[2020-09-17 00:15] lemastero opened #291 "add Trifunctor"
Adding `Divariant` instances (issue #290) to types with 3 params leads to duplications:
1. two different dimap that does different things
   * map over input and error
   * map over input and output
2. two contramap defined the same way
[code]
3. the same implementation of contramap in `Convtravariant`
[code]
4. both version of map defined in `Covariant` (for X and Failed[X])
[code]

5. If PR #279

[2020-09-17 12:09] mtsokol commented on #284
Hi, I can try it!

[2020-09-17 13:27] lemastero commented on #281
This is blocked by https://github.com/zio/zio/issues/4211

[2020-09-19 13:35] lemastero commented on #92
I need a way to compare functions A => B (for https://github.com/zio/zio/issues/4211 and https://github.com/zio/zio-prelude/issues/290). I figured out sth like this:

[code]

so it is "to our best knowledge" approach, where best == 10

[2020-09-19 13:37] adamgfraser commented on #92
@lemastero I think that is fine for testing. I am working on adding an `Enumerable` type class and then you could say that given an `Enumerable[A]` and an `Equal[B]` you could derive an `Equal[A => B]`.

[2020-09-19 20:58] vinhhv opened #299 "Create Validation from predicate"
Ability to create a Validation from a predicate, similar to `Either`'s `.cond`:

[code]

Suggestion:
[code]

[2020-09-24 00:43] #272 closed

[2020-09-24 00:52] joroKr21 commented on #206
Rename it back to `traverse` 😂

[2020-09-27 08:56] reibitto opened #312 "Traversable.foreach name collision"
@felher brought this up in the Discord and I thought we should create an issue to track it.

Since most collections already have `foreach` on them, this can result in name collisions. A different name would prevent having to write stuff like `Traversable[Vector].foreach(vec)(function)`

@jdegoes also agreed that it needs to be renamed because of this.

It's not a problem in ZIO itself, but given h

[2020-09-27 08:57] reibitto commented on #312
My bad, this is a duplicate of #206

[2020-09-27 08:57] #312 closed

[2020-09-27 08:58] reibitto commented on #206
Renaming it was brought up in the Discord. John agreed it needs to be renamed.

Are there any other methods that have potential name collisions? Might be worth checking out.

[2020-09-28 08:34] regiskuckaertz opened #317 "Add flatMap"
Not having `flatMap` on contextual abstractions prevents users from co-opting the syntactic sugar provided by the language. I know the reasoning behind it but I think this is a severe impediment to usability. Why not add it as an extension method on `Monad`?

[2020-09-28 09:17] adamgfraser commented on #317
@regiskuckaertz It should be. I will add it momentarily.

[2020-09-28 16:24] #317 closed

[2020-09-28 23:07] sideeffffect commented on #284
implemented in the PR :point_up:

[2020-09-28 23:07] #284 closed

[2020-09-28 23:16] #283 closed

[2020-09-28 23:23] sideeffffect commented on #215
:fireworks:
awesome work everybody!
:muscle: :muscle: :muscle:

[2020-09-28 23:23] #215 closed

[2020-09-29 02:56] #299 closed

[2020-09-30 00:18] sideeffffect opened #321 "Document the Type Class hierarchies with chart"
It would be nice to document the Type Class hierarchies we have in a visual way. Mermaid is probably the best for this.

---
- [x]  `Equal`
- [x]  `Associative`
- [x]  `AssociativeBoth`
- [x]  `AssociativeEither`
- [x]  `Invariant`
- [x]  `AssociativeFlatten`
- [x]  `AssociativeCompose`

[2020-09-30 00:19] sideeffffect opened #322 "Document the Type Class hierarchies with chart: Equal"
Document the `Equal` hierarchy in a visual way.

parent issue: https://github.com/zio/zio-prelude/issues/321

[2020-09-30 00:21] sideeffffect opened #323 "Document the Type Class hierarchies with chart: Associative"
Document the `Associative` hierarchy in a visual way.

parent issue: https://github.com/zio/zio-prelude/issues/321

[2020-09-30 00:22] sideeffffect opened #324 "Document the Type Class hierarchies with chart: AssociativeBoth"
Document the `AssociativeBoth` hierarchy in a visual way.

parent issue: https://github.com/zio/zio-prelude/issues/321

Have a look at the parent issue for the description of the task. Here's the skeleton of the Mermaid documentation to implement:

[code]

[2020-09-30 00:22] sideeffffect opened #326 "Document the Type Class hierarchies with chart: AssociativeEither"
Document the `AssociativeEither` hierarchy in a visual way.

parent issue: https://github.com/zio/zio-prelude/issues/321

Have a look at the parent issue for the description of the task. Here's the skeleton of the Mermaid documentation to implement:

[code]

[2020-09-30 00:23] sideeffffect opened #327 "Document the Type Class hierarchies with chart: Invariant"
Document the `Invariant` hierarchy in a visual way.

parent issue: https://github.com/zio/zio-prelude/issues/321

[2020-09-30 00:24] sideeffffect opened #328 "Document the Type Class hierarchies with chart: AssociativeFlatten"
Document the `AssociativeFlatten` hierarchy in a visual way.

parent issue: https://github.com/zio/zio-prelude/issues/321

Have a look at the parent issue for the description of the task. Here's the skeleton of the Mermaid documentation to implement:

[code]

[2020-09-30 00:24] sideeffffect opened #329 "Document the Type Class hierarchies with chart: AssociativeCompose"
Document the `AssociativeCompose` hierarchy in a visual way.

parent issue: https://github.com/zio/zio-prelude/issues/321

[code]

[2020-10-05 22:53] #291 closed

[2020-10-05 22:53] lemastero opened #332 "Laws for Bicovariant"
Bicovariant type class should have laws defined using Laws support in zio-test.

[2020-10-07 15:36] #322 closed

[2020-10-14 15:36] #323 closed

[2020-10-14 20:19] felher opened #340 "Consider deriving `IdentityBoth` from `Covariant` and `IdentityFlatten`"
Currently, when a function requires `IdentityBoth` on some `F[+_]` but only `Covariant` as well as `IdentityFlatten` are in scope, the compilation fails with an `implicit not found`.

Should zio-prelude provide automatic derivation for `IdentityBoth` given `Covariant` as well as `IdentityFlatten`?
The process could be as follows:

1. move every `IdentityBoth` instance of every data type already pr

[2020-11-01 19:31] mschuwalow commented on #332
I'll look into this one

[2020-11-03 21:37] lemastero opened #361 "Add laws for Zivariant"

[2020-11-13 22:16] sideeffffect opened #369 "Port ZIO Prelude to Scala.js"
_Difficulty: Intermediate, prior experience with (porting to) Scala.js is an advantage_

Add sbt setup for building, testing and publishing ZIO Prelude for Scala.js 1.x for all Scala 2.11, 2.12 and 2.13.
Have a look at ZIO's https://github.com/zio/zio/blob/master/build.sbt#L130 (`coreJS`, for example) and https://github.com/zio/zio/blob/master/.circleci/config.yml to see how it's done. (Other file

[2020-11-13 22:16] sideeffffect opened #370 "Port ZIO Prelude to Scala Native"
_Difficulty: Intermediate, prior experience with (porting to) Scala Native is an advantage_

Add sbt setup for building, testing and publishing ZIO Prelude for Scala Native `0.4.0-M2` for Scala 2.11.
Have a look at ZIO's https://github.com/zio/zio/blob/master/build.sbt#L133 (`coreNative`, for example) and https://github.com/zio/zio/blob/master/.circleci/config.yml to see how it's done. (Other file

[2020-11-14 00:00] sideeffffect opened #371 "Add method bothPar to the type class CommutativeBoth"
_Difficulty: Easy, familiarity with the Type class design pattern is an advantage_

After adding `bothPar` to `CommutativeBoth`, implement it for all the types implementing the Type class. The signature is like this:

[code]

Make sure, that the other helper and extension methods (like `zipPar`) in `CommutativeBoth` use `bothPar` instead of just `both`. Note, that for some types, `bothPar` can be

[2020-11-14 00:00] sideeffffect opened #372 "Add method eitherPar to the type class CommutativeEither"
_Difficulty: Easy, familiarity with the Type class design pattern is an advantage_

After adding `eitherPar` to `CommutativeEither`, implement it for all the types implementing the Type class. The signature is like this.
[code]

Make sure, that the other helper and extension methods (like `orElseEitherPar`) in `CommutativeEither` use `eitherPar` instead of just `either`. Note, that for some types,

[2020-11-14 00:02] sideeffffect opened #373 "Define laws for Traversable"

[2020-11-14 00:21] sideeffffect opened #374 "Add tuple methods for CommutativeBoth"
_Difficulty: Easy, patience with Ctrl+C/Ctrl+V is an advantage for this task :)_

`mapParN`/`tupleParN` are operations we would want to often perform on tuples. Please add them for all tuples from `Tuple2` to `Tuple22`. Have a look, how they're implemented for `AssociativeBoth` for inspiration. This is an example skeleton for `Tuple3`:

[code]
[code]
[code]

[2020-11-14 00:40] sideeffffect opened #375 "Add methods to ZPure inspired by ZIO"

[2020-11-14 20:26] sideeffffect commented on #329
Note that this has already open PR :point_up:

[2020-11-14 21:06] sideeffffect opened #376 "Make a working website"
_Difficulty: Intermediate, requires familiarity with making Scala project websites via sbt, which is typically done with `mdoc` and `docosaurus`_

using the `docs` project

Take inspiration from https://github.com/zio/zio-query for example.

[2020-11-17 22:26] sideeffffect opened #380 "Improve documentation in the Invariant hierarchy"
_Difficulty: Easy, but with high added value!_

The extension methods in the Invariant hierarchy are missing documentation. Given that most users will interact with it precisely via these extension methods, it would be very unfortunate not to have a documentation on them.

Please add documentation comments to all extension methods in the Invariant hierarchy. Copying the documentation from the meth

[2020-11-18 22:37] lemastero opened #382 "Add instances for Commutative, Idempotent for Min[BigDecimal]"
_Difficulty: Easy_

add instance for BigDecimal for type class'es in Associative companion object
[code]

[2020-11-18 22:39] lemastero opened #383 "Add instances for Commutative, Idempotent for Max[BigDecimal]"
_Difficulty: Easy_

add instance for Max[BigDecimal] for type class'es in Associative companion object
[code]

[2020-11-18 22:40] lemastero opened #384 "Add instances for Commutative, Idempotent for Sum[BigDecimal]"
_Difficulty: Easy_

add instance for Sum[BigDecimal] for type class'es in Associative companion object
[code]

[2020-11-18 22:42] lemastero opened #385 "Add instances for Commutative, Idempotent for Prod[BigDecimal]"
_Difficulty: Easy_

add instance for BigDecimal for type class'es in Associative companion object
[code]

[2020-11-18 22:56] lemastero opened #386 "Add repeat method to Identity"
_Difficulty: Easy_

Add method repeat to Identity that will combine input n elements a.
If n is below 1 it should return `identity` element.
[code]

[2020-11-19 08:29] arnoldlacko commented on #375
I would like to contribute to this on Saturday. I would start with `some`, `someOrElse`, `someOrElseM`, `someOrFail` and `someOrFailException`.

[2020-11-19 14:37] sideeffffect opened #387 "Add repeatOption method to Associative"
_Difficulty: Easy_

Add method repeat to `Associative` that will combine input `n` elements `a`.
If n is `<=` 1 it should return `None`.
[code]

[2020-11-19 14:58] sideeffffect opened #388 "Update to Dotty (Scala) 3.0.0-M1"
_Difficulty: Intermediate, prior experience with working with Dotty is an advantage_

You will need to adjust `project/BuildHelper.scala` (the `ScalaDotty` variable).
But first, you need to publish ZIO itself with `3.0.0-M1` (also by adjusting `project/BuildHelper.scala`).

[2020-11-19 18:36] lemastero opened #389 "add ZivariantSyntax to package object prelude"
Difficulty: Easy

ZivariantSyntax needs to be added to package object prelude.
See: https://github.com/zio/zio-prelude/blob/master/src/main/scala/zio/prelude/package.scala#L33

[2020-11-19 18:44] lemastero opened #390 "Add compose to Covariant"
Difficulty: Intermediate

Add compose operator that will allow to nest two different Covariant
[code]

allowing us to write: `val listOptionCovariant = Covariant[List] compose Covariant[Option]`

[2020-11-19 18:51] lemastero opened #391 "Add fproduct and fproductLeft to Covariant"
Difficulty: Easy

Add operators `fproduct` and `fproductLeft` to `Covariant`:
[code]
include them also in `CovariantSyntax`

[2020-11-20 01:21] sideeffffect opened #392 "Add forany and foranyPar to Traversable"
_Difficulty: intermediate, experience with both ZIO Prelude and concurrent programming with ZIO is an advantage_

Please implement on `Traversable` methods with these signatures
[code]
`None` is returned in case of an empty Traversable.

As a stretch goal, think, if it would make sense to have analogous methods on `NonEmptyTraversable`.

Depends on https://github.com/zio/zio-prelude/issues/372

[2020-11-20 10:21] sideeffffect commented on #206
This is a problem for the extension method name only. Maybe having a backup name would suffice? `traverse` or `forEach` or `foreach_` or `foreachPrelude`?

[2020-11-20 12:21] fanf commented on #206
please, please, don't use `forEach`. It's extremely surprising (inconsistance with all of `ZIO`) and doesn't really address the ambiguty, it's just a technical workaround. Same for `foreach_` which is already used in `ZIO` for something else and is understood (at least by me) like `same as ZIO.foreach, optimized`.

[2020-11-20 12:27] joroKr21 commented on #206
Yeah `foreach_` is for the case when you don't need the result

[2020-11-20 13:12] shankarshastri commented on #387
@sideeffffect , I would like to give it a try for this hackathon.

[2020-11-20 13:12] shankarshastri commented on #386
@sideeffffect , I would like to give it a try for this hackathon

[2020-11-20 14:23] bmarinovic commented on #375
Hi, I would like to take:
* tap
* tapBoth
* tapCause
* tapError
* tapErrorTrace

(at least those that make sense to ZPure)

[2020-11-20 14:41] shankarshastri commented on #382
@lemastero , I can work on this one for zio-hackathon

[2020-11-20 15:02] shankarshastri commented on #383
@lemastero , I can work on this one for zio-hackathon.

[2020-11-20 15:02] shankarshastri commented on #384
@lemastero , I can work on this one for zio-hackathon.

[2020-11-20 15:02] shankarshastri commented on #385
@lemastero , I can work on this one for zio-hackathon.

[2020-11-20 16:46] shankarshastri commented on #386
@sideeffffect , I was trying to go through Identity, should the implementation be inside the Identity trait?

[code]

[2020-11-20 17:06] shankarshastri commented on #389
I was trying to work on this one as it was a small change as well.

But wanted to know what should the type name be?

[code]

Please let me know your thoughts.
@lemastero , @sideeffffect

[2020-11-20 17:26] sideeffffect opened #395 "Example Hackathon ticket"
_Difficulty: Trivial_

Add greeting to `README.md`

_please don't claim, this is just for demo_ :smile_cat:

[2020-11-20 17:52] sideeffffect commented on #386
@shankarshastri I like this! Especially the part where we reuse the code and thus guarantee consistent behavior of `repeatOption` and `repeat` :+1:
But there's a catch, if my eyes aren't failing me :smiley:
The provided implementation of `repeatOption` repreduces the `a` exponentially. If we start with `"a"`, then we will have.
 * `"a"`
 * `"aa"`
 * `"aaaa"`
 * `"aaaaaaaa"`

I think the fix here w

[2020-11-20 17:54] sideeffffect commented on #389
@lemastero What do you think? :)

[2020-11-20 18:31] shankarshastri commented on #374
@sideeffffect , I can try to pick this up.

[2020-11-20 21:19] GrigoriyDmitriev commented on #390
@lemastero , I can work on this one for zio-hackathon.

Also, it looks like the example implies signature
`def compose[G[+_]](g: Covariant[G]): Covariant[({ type l[+A] = F[G[A]] })#l]`
Which one to implement?

[2020-11-20 21:23] Porcupine96 commented on #391
Hi, I want to give it a try 🙂

[2020-11-20 23:03] lbdlbdlbdl commented on #372
I would like to work on this one. :)

[2020-11-20 23:18] sideeffffect commented on #395
I clam this

[2020-11-20 23:20] visar commented on #371
I would like to tackle this.

[2020-11-20 23:46] atrianac commented on #388
I would like to tackle this

[2020-11-21 00:20] #385 closed

[2020-11-21 00:20] #384 closed

[2020-11-21 00:21] #383 closed

[2020-11-21 00:21] #382 closed

[2020-11-21 00:22] #395 closed

[2020-11-21 00:51] sideeffffect commented on #390
I think `def compose[G[+_]](g: Covariant[G]): Covariant[({ type l[+A] = F[G[A]] })#l]` is the correct thing :wink:

[2020-11-21 00:52] sideeffffect commented on #390
@lemastero Would it make sense to provide `compose` also for `Contravariant`? Or even `Invariant`?

[2020-11-21 01:09] bmarinovic commented on #375
If `tap` proves to be useless in this context, I'd like to take:
* orElseFail
* orElseOptional
* orElseSucceed

[2020-11-21 03:31] atrianac commented on #375
I can take `right`, `rightOrFail`, `rightOrFailException`, `rightOrFailWith`

[2020-11-21 05:20] zach-albia commented on #373
I'd like to take this.

[2020-11-21 05:24] zach-albia commented on #375
I would like to take the `left` family methods.

[2020-11-21 05:37] justinhj commented on #392
starting on these

[2020-11-21 07:55] justinhj commented on #392
I maybe misunderstanding something but shouldn't the return type be G[Option[F[B]] ?
  def forany[G[+_]: IdentityEither: Covariant, A, B](fa: F[A])(f: A => G[B]): G[Option[B]] = ???

[2020-11-21 08:53] shankarshastri commented on #374
@sideeffffect ,  I started to work on this, but when I try to bring in mapParN, and try to implement it using zipPar from CommutativeBothOps, but its picking up zipPar from AssociativeBothOps, Any thoughts?

[2020-11-21 08:57] shankarshastri commented on #374
My bad IntelliJ Issues  :(

[2020-11-21 09:45] OldKosherCheese commented on #324
I would like to work on this one.

[2020-11-21 10:18] lemastero commented on #389
AFICT There is no need to add alias. Current aliases like:
[code]
are because there are abstractions Profunctor, Bifunctor in cats.

[2020-11-21 10:31] shankarshastri commented on #389
@lemastero , makes sense !!
Removing the alias from PR 👍

[2020-11-21 10:37] #374 closed

[2020-11-21 10:39] lemastero commented on #390
@sideeffffect yes you can compose Contravariant and Invariant functors. Maybe in a separate ticket.

[2020-11-21 10:47] sideeffffect commented on #390
Would you like to create them @lemastero ? :smile_cat:

[2020-11-21 11:13] sideeffffect commented on #392
I think it should be `G[Option[B]]`. Let's take the example of `List` and `Task`. Than we would have
[code]
And then we would like this to return the first successful task. For `forany`, the tasks in the list will be sequentially run, from left to right. The Option is there in case the list is empty. `foranyPar` on the other hand would race all the tasks concurrently.

But if you're feeling like y

[2020-11-21 11:14] #389 closed

[2020-11-21 11:44] adamgfraser opened #401 "Use CanFail and NeedsEnv For ZPure"
In ZIO we created `CanFail` and `NeedsEnv` data types that can be added as implicit parameters to error handling or environment providing methods to trigger a warning to the user if they are user an error handling operator on an effect that can't fail or providing an environment to an effect that doesn't need one. We should add the same thing to `ZPure` operators that handle errors or provide the

[2020-11-21 12:46] spoltier commented on #401
I'd like to give this one a try.

[2020-11-21 12:53] adamgfraser commented on #401
@spoltier Great!

[2020-11-21 13:03] lemastero opened #402 "Add compose to Contravariant"
Difficulty: Intermediate

Add to Contravariant method: compose
[code]
note that the composition of two Contravarinat turns into Covariant

Similar issue: #390 #403

[2020-11-21 13:06] lemastero opened #403 "add compose to Invariant"
Difficulty: Intermediate

Add `compose` operator to Invariant

[code]

Similar issue: #390 #402

[2020-11-21 13:08] lemastero commented on #390
Done: #402 #403

[2020-11-21 14:25] Badmoonz commented on #392
Hi!
I'm hacking this issue right now, and I deal with problem in testing foranyPar,  there is no entity with instance of CommutativeEither[G] with IdentityEither[G]

Why  ZIO, Future, Fiber... don't implement IdentityEither(Both) only AssociativeEither(Both)?

[2020-11-21 15:20] justinhj commented on #392
I’ll try an easier ticket for now

[2020-11-21 15:28] justinhj commented on #392
I believe this is something to do with whether there is a way to summon a default instance of something. For example with Option if you have nothing you can summon a default nothing (None) and a default list would be List.empty.
With a Zio effect there is no meaningful default effect I could combine with another that would leave both unchanged

[2020-11-21 17:45] vigoo commented on #369
I'm doing this

[2020-11-21 17:57] spoltier commented on #401
I have a PR open (some checks still running): #406

[2020-11-21 18:22] atrianac commented on #388
I opened a PR in zio-core: https://github.com/zio/zio/pull/4425

[2020-11-21 18:23] sideeffffect commented on #392
Interesting problem to tackle, indeed.
But could we have such instances, like
[code]
and
[code]
(with more intelligent message in the `RuntimeException`s)?

Would this help you progress further?

[2020-11-21 18:29] justinhj commented on #392
I'm afraid the ZIO redis project is keeping me busy today so not sure I will get back to this, but that's good to know

[2020-11-21 18:35] sideeffffect commented on #392
@Badmoonz if you wanted, we could try mob programming on this (Zoom works best from my experience). @justinhj you'd be more than welcome to join, if you'll find some spare time, of course!
I'll need to grab a diner, but that shouldn't take long, so then we can go right into it :+1:

[2020-11-21 18:46] sideeffffect opened #408 "Add method asState to ZPure"
`asState` operator just replaces the state with a specified value

[2020-11-21 18:50] sideeffffect commented on #388
Great! Now you can try publishing ZIO locally (from your branch with updated Dotty) via `publishLocal`. Then you can use this locally published ZIO jar as a dependency in ZIO Prelude and try to update ZIO Prelude and see if there are any issues or not. If there are issues, you'll need to fix them, but hopefully not.

Then you can open PR for ZIO Prelude (but for version ZIO 1.0.4, not the locally

[2020-11-21 19:39] mschuwalow commented on #369
@vigoo sorry for not claiming this :(. Just opened a PR that closes this.

[2020-11-21 19:51] vigoo commented on #369
Don't worry about it,  you finished faster :)

[2020-11-21 19:53] atrianac commented on #388
@sideeffffect Thanks for your support. I run the tests and looks everything is working, I opened a PR https://github.com/zio/zio-prelude/pull/411

[2020-11-21 19:57] lemastero opened #412 "Add submodule zio-prelude-ext"
Difficulty: easy

Idea is to have a place where one can put abstractions that will be changed later on or can be throw away if they don't pass the test of time.

[2020-11-21 20:02] lemastero commented on #402
Closed by #404

[2020-11-21 20:02] #402 closed

[2020-11-21 20:03] lemastero commented on #390
Done in #404

[2020-11-21 20:03] #390 closed

[2020-11-21 20:03] lemastero commented on #403
Done in #404

[2020-11-21 20:04] #403 closed

[2020-11-21 20:04] lemastero commented on #391
Done in #397

[2020-11-21 20:04] #391 closed

[2020-11-21 20:12] bmarinovic commented on #408
Will take it :)

[2020-11-21 20:38] #401 closed

[2020-11-21 20:49] sideeffffect commented on #388
Awesome, good job! Now we just have to sit and wait for those lazy ZIO developers :joy:

[2020-11-21 21:57] #408 closed

[2020-11-21 22:05] sideeffffect commented on #388
Actually, it seems like we now have to update https://github.com/zio/izumi-reflect to `3.0.0-M1`.
Try searching the project for `0.27.0` and replace the occurences
https://github.com/zio/izumi-reflect/search?q=0.27.0

(Have we warned you that ZIO is deep deep rabbit hole? :smile: )

[2020-11-21 22:11] sideeffffect commented on #324
Hello @OldKosherCheese, thanks for choosing to work on this ticket :+1: As is written in the description, a documentation ticket like this might not seem like much, but for us, it is actually _very_ valuable.
Can we somehow help you push this over the finishing line?

[2020-11-21 23:16] #369 closed

[2020-11-21 23:21] sideeffffect commented on #369
@vigoo don't let this let you down! The ticket for porting to Scala Native is still up for grabs :wink:

[2020-11-21 23:23] vigoo commented on #369
maybe a bit later :)

[2020-11-22 00:42] sideeffffect opened #417 "Add method multiplyOption to Associative and multiply to Inverse"
The methods are have to have the following signature:
[code]
The methods implementation will such that
[code]
That means that in
 * `Associative`, `multiplyOption` will return `None` for `n` <= 0
 * `Identity`, `multiplyOption` will return `None` for `n` < 0 and for 0 it will return `Some(identity)`
 * `Inverse`, if `n` < 0, `multiply` will utilize the `inverse` method, e.g. for `n` = 2, it will r

[2020-11-22 00:51] ernestochero commented on #329
@sideeffffect
Is possible to take this, what is the status of #358 ?

[2020-11-22 01:00] sideeffffect commented on #329
Hopefully close to merging. But worry not, there are other, very similar documentation tickets. Look at the parent issue. It would immensely help us if you documented a Type class hierarchy that hasn't been documented yet.

I'm here for you, if you'd need any help with it :wink:

[2020-11-22 01:41] ernestochero commented on #326
@sideeffffect I would like to take this issue.

[2020-11-22 02:38] shankarshastri commented on #417
@sideeffffect , I shall try to tackle this one.

[2020-11-22 02:58] shankarshastri commented on #417
@sideeffffect , will multiply directly use multiplication, or will it use combine, inverse? Bit confused.

[2020-11-22 08:53] zach-albia commented on #373
I'm hitting a roadblock writing the naturality law for `Traversable`. Looking at the implementation of the laws in Cats & ScalaZ, it looks like we need to have an implementation of natural transformation. Do we need to implement it in zio-prelude to write this law or am I missing something?

[2020-11-22 09:56] OldKosherCheese commented on #324
Hi,
@sideeffffect  I have put a draft.
I will put the link for the pic later.

At the moment I am not sure how instances types should be documented for the typeclass as it works on higher type.
Also IdentityBoth instances are defined in AssociativeBoth file. Is there any reason fro that?

[2020-11-22 10:40] vigoo commented on #370
Seems like `zio_native0.4.0-M2_2.11` depends on `zio-stacktracer_native0.4.0-M2_2.11` (https://search.maven.org/artifact/dev.zio/zio_native0.4.0-M2_2.11/1.0.3/jar) and it's not published at all. So first this dependency should be published from `zio`.

[2020-11-22 12:26] bmarinovic commented on #375
I took:

*  fromEither[S, L, R](either: Either[L, R]): ZPure[S, S, Any, L, R]
*  fromOption[S, A](option: Option[A]): ZPure[S, S, Any, Unit, A]
*  suspend[S1, S2, R, E, A](pure: => ZPure[S1, S2, R, E, A]): ZPure[S1, S2, R, E, A]
*  head

[2020-11-22 13:19] sideeffffect commented on #417
I've added a comment to the PR, I hope it's clear now. If not, let me know! :wink:

[2020-11-22 13:27] sideeffffect commented on #373
I'm no category theorist, so please excuse me if I say something nonsensical.

Natural transformations are morphisms between functors, right? In that case we don't have them in ZIO Prelude (yet :wink:).

But let me ask "from the other side". Are we able to write some interesting laws/properties for Traversable with the current state of things? If yes, could you please open a PR with that? We'll fi

[2020-11-22 14:16] sideeffffect commented on #324
Nice, I've already commented on the PR.
We're still settling down the conventions on how to document these more advanced cases, but it's already shaping up. Please let me know, if my comments were not intelligible.

I'm glad you ask :) it's so that Scala implicit resolution mechanism can find that instance regardless if it's looking for a mere `AssociativeBoth` or specifically `IdentityBoth` -- bu

[2020-11-22 14:20] sideeffffect commented on #370
Yeah, stacktraces is only published as a snapshot
https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-stacktracer_native0.4.0-M2_2.11/

That could help you at least with making the chages to the build setting -- even though we will most likely need to wait for ZIO 1.0.4 to merge your pull request. But having such a prepared PR would still help us immensely, basically all the work w

[2020-11-22 15:19] #386 closed

[2020-11-22 15:43] #370 closed

[2020-11-22 18:58] Badmoonz commented on #392
hmm, #372 was not necessary for this one 🙄

Tests run ok, but I don't understand why there is no implicits overlaping in forany by ZIOAssociativeEither and ZIOCommutativeEither, both extends AssociativeEither

[2020-11-22 20:03] #387 closed

[2020-11-22 20:25] sideeffffect opened #427 "Add forany1 and foranyPar1 to NonEmptyTraversable"
Analogous to https://github.com/zio/zio-prelude/issues/392
But it should be able to return `G[B]` straight, without wrapping it in an Option.

[2020-11-22 20:40] landlockedsurfer commented on #375
Hi!
I work(ed) on `reject` and `rejectM`.

[2020-11-22 22:24] Badmoonz commented on #392
I think for more clear design signature of forany should be Option[G[B]] like other methods of Traversable dealing with empty collection

[2020-11-22 23:47] sideeffffect opened #431 "Consolidate the implementation of Type class instances: AssociativeEither, take 2"
Continuation of https://github.com/zio/zio-prelude/issues/282

Move all the instances that can be moved (which are all in our case) from `IdentityEither`'s and `CommutativeEither`'s companion objects, and "merge" them to `AssociativeEither`'s companion object. This is done because of how Scala implicit scope works.

More detailed explanation which instances need to go into which companion object c

[2020-11-23 01:55] sideeffffect commented on #326
closed in https://github.com/zio/zio-prelude/pull/418

[2020-11-23 01:55] #326 closed

[2020-11-23 12:54] #417 closed

[2020-11-23 19:34] DamianReeves commented on #375
Do we have a list of what's left here?

[2020-11-23 19:41] bmarinovic commented on #375
#### For someone compiling the list of leftovers, this is what I implemented that was pushed to master:

* fromEither[S, L, R](either: Either[L, R]): ZPure[S, S, Any, L, R]
* fromOption[S, A](option: Option[A]): ZPure[S, S, Any, Unit, A]
* suspend[S1, S2, R, E, A](pure: => ZPure[S1, S2, R, E, A]): ZPure[S1, S2, R, E, A]
* fromEffect[S, A](effect: => A): ZPure[S, S, Any, Throwable, A]
* asState
* o

[2020-11-23 19:43] #324 closed

[2020-11-23 21:30] arnoldlacko commented on #375
I would like to implement `repeatN`, `repeatUntil`, `repeatUntilEquals`, `repeatWhile`, `repeatWhileEquals`, which I think would make sense as long as `S2 <:< S1`, where the updated state would be passed through to each successive repetition.
The above methods (except for `repeatN`) would be defined in terms of the success value and then I would also add equivalents for defining repetition in term

[2020-11-23 22:48] sideeffffect commented on #375
@arnoldlacko Seems fine to me :+1: Give it a spin and report back with what you find :rocket:

(We've hit some issues with Dotty's type inference with [`orElseSucceed`](https://github.com/zio/zio-prelude/pull/413) but hopefully you won't.)

[2020-11-24 05:11] adamgfraser commented on #427
I think if we went with my proposal in #424 we wouldn't need this because `None` would represent there not being any "successful" value, which could occur if either the collection is empty or if all of the results are "failures".

[2020-11-24 17:12] #412 closed

[2020-11-25 03:34] sideeffffect commented on #392
@adamgfraser @Badmoonz I've played with this myself and this is what I've come up with. If we let go of using `None` for representing both "list was empty" and "all elements failed", maybe the functions would be simpler. `collectFirst` (using `IdentityEither`) could then be like a complement to `foreach` (that uses `IdentityBoth`). Regarding failures, I think it is OK to let `collectFirst` fail (i

[2020-11-25 04:55] adamgfraser commented on #392
@sideeffffect @Badmoonz How about this?

[code]

I guess my overall perspective here is we should start with what collection operations would be objectively useful, with the collection operations that are actually implemented on non-effectual collection libraries being one good data point, and then figure out what capabilities we need to implement them. Returning the first "successful" value and `

[2020-11-26 13:50] Badmoonz commented on #392
I think we should add just trivial non-effectful collectFirst method
[code]
I think we don't need to add AssociativeEither in traversable interface, logically methods assigned in issue are foldMap's with special kind of semigroup(Associative) derived from AssociativeEither

If we just need extend Traversable with

[code]

and add implicit deriviations to Associative/Commutative/Identity

[code]

W

[2020-11-26 22:47] sideeffffect commented on #372
By this ticket, we would have an `CommutativeEither` with both `either` and `eitherPar`, where `either` would express the sequential merging while `eitherPar` would express the "parallel" one (concurrent would be more apt, though :D ).

@adamgfraser in we merged https://github.com/zio/zio-prelude/pull/437, we would loose the ability to merge certain types in a sequential manner (like ZIO, Future,

[2020-11-26 23:30] sideeffffect commented on #392
@adamgfraser sounds good! Your implementation is also more elegant :+1: And we could have "both":
[code]

@Badmoonz Do you think we could go with
[code]
Interesting proposal otherwise, let give it more though :thinking:

[2020-11-26 23:39] Badmoonz commented on #392
@sideeffffect

do we can easily add it like:
[code]

[2020-11-29 14:40] Badmoonz commented on #373
@zach-albia I think we don't need so Generic approach for generating Applicatives used by foreach, testing for several hardcoded instances is sufficient, event using only Id Applicative is enough imho

[2020-11-30 17:04] Badmoonz commented on #373
@zach-albia

I think it will be nice to add some tests to check that laws are really working:
[code]

still cannot imagine such traversable instance that has valid Identity laws and broken Composition laws 🤔

[2020-11-30 18:58] atrianac commented on #375
@sideeffffect I am trying to implement `onLeft` and `onRight`.  Those methods are implemented in terms of `identity` and `+++` in ZIO. Make sense to implement those in ZPure?

[2020-12-05 00:16] sideeffffect commented on #373
So we now have 2 PRs implementing this
https://github.com/zio/zio-prelude/pull/442 has
 * identity
 * sequentialFusion
 * purity
 * naturality
 * parallelFusion

https://github.com/zio/zio-prelude/pull/449 has
 * identity
 * composition (for some predefined functors)

So how do we do this guys? Do you @zach-albia and @Badmoonz coordinate with each other to create one PR? Or should we merge first o

[2020-12-05 00:28] sideeffffect commented on #375
@atrianac `onLeft` and `onRight` make sense :+1:
Instead of `identity`, there's already `ZPure.environment` -- would it make sense to add `identity` alias @adamgfraser?

[2020-12-05 01:47] zach-albia commented on #373
@sideeffffect I integrated a lot of the code from #449 into #442. I think you can merge his first once #449 runs in 2.11, and then you can take a look at mine? I think mine needs some more review TBH.

[2020-12-05 09:42] Badmoonz commented on #373
@sideeffffect

I don't want to reject all the job @zach-albia  has done introducing new laws

But if we want to keep things simple and valuable,  really enough set of traversable laws would be

1. check that map and foreach commute (traversable instance may override map for perfomance issues)

 ```forall ta, f : ta.map(f) = Id.unwrap(ta.foreach[Id, A, B]((a: A) => Id(f(a)))```

2. Check already de

[2020-12-11 03:06] adamgfraser commented on #372
So I think we definitely want the ability to support both commutative and non-commutative combining operations, and those are important even for data types that don't do actual concurrency (e.g. `zip` versus `zipPar` on `Validation`). I see a couple of ways to do this:

1. Just don't consolidate. Today the following works fine:

[code]

This results in summoning `AssociativeBoth` giving you `zip`

[2020-12-12 04:21] jdegoes commented on #372
I do like using "priority" to choose between commutative and non-commutative. The main problem is the clash. There is no way to define both associative (non-commutative) and associative (commutative) together (i.e. coherently). Maybe that matters less with Scala 3.

Another possibility is the newtyping. With curried type constructors, you could imagine doing `A: Commutative[Associative]`. That cou

[2020-12-12 04:27] jdegoes opened #462 "ZPure: Turn `State = Unit` into a zero for composition purposes"
In all methods that combine ZPure, we can turn `Unit` into a "zero" that just goes away.

This will allow us to write `ZPure.succeed[A]` and other methods with one type parameter.

[2020-12-12 05:12] adamgfraser commented on #462
I spent some time playing with this:

[code]

[2020-12-12 15:37] jdegoes commented on #462
Very nice. Any troubles you ran into?

[2020-12-12 17:35] adamgfraser commented on #462
The main issue I ran into is the interaction between this and the variance on `ZPure`. To use this in composition operators on `ZPure` we really want `ComposeState` and `Aux` to have variance but at least in my initial experiments that caused issues with composition. Maybe using more type bounds instead of specific types would help. Otherwise we have to move composition operators to implicit synta

[2020-12-13 20:58] sideeffffect commented on #372
Alright, keeping separate instances of `Commutative*` for things that have parallel/concurrent implementation, aka `(1)`, could work :+1:

 * method names will still be `both`/`either`; `bothPar`/`eitherPar` won't be needed
 * if the implementation can be either sequential of parallel/concurrent
    * sequential implementation will be `Associative*` or `Identity*`, located in `Associative*.scala`

[2020-12-14 07:10] adamgfraser commented on #372
Sounds good.

The only thing I would add is I don't think that is accurate with regard to `Validation`. There is an `AssociativeBoth` instance that fails fast analogous to `zipWith` that is implemented in terms of `flatMap` and a `CommutativeBoth` instance that corresponds to `zipWithPar` and accumulates errors. We will pick that up as part of #461 though.

[2020-12-15 12:54] sideeffffect commented on #373
If what @Badmoonz says is correct, than let's just have the one commutativity law.
If all the other laws follow from that (+ the Covariant laws), then we don't need them and we should strive for minimalism in this regard IMHO.
What do you guys think? /cc @adamgfraser @jdegoes

[2020-12-16 19:51] adamgfraser commented on #373
Yes I think we don't need five laws. The formulation I have seen normally has two, an identity law that calling `foreach` with the identity function returns the value unchanged, which is basically consistency with `map`, and then a second that two traversals can be fused, though I am sure there are other minimal formulations of laws.

[2020-12-17 07:58] Badmoonz opened #472 "Extract Foldable trait from Traversable"
Some kind of data structures can have constraint on type paramters, like Ord[A] for ordered structures like Set / TreeSet, but they are not Funktors (Covariant)
[](https://wiki.haskell.org/Foldable_and_Traversable#Foldable)

And Foldable by itself provides as lot of useful functionality even ```foreach_[G[+_]: IdentityBoth: Covariant, A](fa: F[A])(f: A => G[Any]): G[Unit]```

suggested trait:
[cod

[2020-12-17 10:46] sideeffffect commented on #472
What laws apply for Foldable?

[2020-12-17 11:39] Badmoonz commented on #472
probably there are no fundamental laws
we just can  check that overriden methods comute to default implementations
but we cannot provide lawful check that foldLeft iterrates over the structure in the right way

[2020-12-17 11:51] Badmoonz commented on #472
withing Traversable we also can check that Foldable.foldLeft and implementation via foreach are equivalent

[2020-12-17 11:52] sideeffffect commented on #472
That would make me thing that `Foldable` is not as much an actual Type class, but more like a "shape" (we talked about Shapes [here](https://github.com/zio/zio-prelude/pull/351))

[2020-12-17 11:57] sideeffffect commented on #472
Although there are some laws in the [Haskell definition](https://hackage.haskell.org/package/base-4.14.1.0/docs/Data-Foldable.html)

Although [here](https://en.wikibooks.org/wiki/Haskell/Foldable) it says that

[2020-12-17 12:00] Badmoonz commented on #472
i will insvestigate the "shape" thread

and about the laws , as I said, it's just checks that overriden methods are equivalent to default implementations

[2020-12-17 14:18] adamgfraser commented on #472
Yes, when we were putting the library together we did not include `Foldable` because it did not have meaningful laws but agree it would be good to think about how to abstract over data types like this.

[2020-12-17 20:10] sideeffffect commented on #431
closed as per https://github.com/zio/zio-prelude/issues/372#issuecomment-744067514

[2020-12-17 20:10] #431 closed

[2020-12-17 20:11] #372 closed

[2020-12-17 20:12] sideeffffect commented on #371
closing as per https://github.com/zio/zio-prelude/issues/372#issuecomment-744067514

[2020-12-17 20:12] #371 closed

[2020-12-18 06:19] Badmoonz commented on #472
I think that Foldable  can have the same laws as Hash: folding Equal objects give Equal results

[2020-12-19 03:32] jdegoes commented on #472
I think I'd rather handle this with a "subcategory" Traverse, which could include arbitrary constraints on the types.

[2020-12-21 07:02] Badmoonz commented on #472
Set's are still not covariant even in subcategory; map's can change structure by squashing produced equal values

[2020-12-23 09:44] regiskuckaertz opened #477 "Declaring instances in Scala 3"
I've been looking at the immense work that @adamgfraser , @sideeffffect and their fellows have put into organising the typeclasses and especially their instances with both admiration and sadness. I have this feeling that I can perhaps imagine what your thoughts are as you are going through the process of bubbling up all those instances at the root of the hierarchy which I can summarise as: _wtf am

[2020-12-28 00:28] sideeffffect commented on #477
Responded :+1:

At this moment, I feel like what we have is a local optimum, so I wouldn't be eager to change it.

But it would be awesome development, not just for ZIO Prelude, but for the whole Scala world, if we could find the mythical global optimum. But that would need much experimentation.

[2020-12-28 00:32] sideeffffect commented on #477
You @regiskuckaertz have been in the Scala game much longer than me, why don't you try to reach directly to the Scala gurus from ScalaZ, cats, the Scala team, @jdegoes and whoever else you might know. I too would be really interested what they have to say about it :wink:

[2020-12-28 02:56] sideeffffect opened #479 "Consider changing the naming scheme in AssociativeCompose hierarchy"
The typical naming scheme for ZIO Prelude Type Classes is `*Functionality`, where `*` is substituted by the property of the given _Functionality_. The properties could be _Associative_ or _Commutative_, etc.

The new naming could be like this:
 * `AssociativeCompose` -> `ComposeAssociative`
 * `IdentityCompose` -> `ComposeIdentity`
 * etc...

Pros:
 * could communicate the meaning better
 * _other

[2020-12-28 03:01] sideeffffect opened #480 "Design Co-Cartesian Closed Category in the AssociativeCompose hierarchy"
Could look something like this
[code]

Implementations in Haskell:
https://hackage.haskell.org/package/categories-1.0.7/docs/Control-Category-Cartesian-Closed.html
https://hackage.haskell.org/package/category-extras-0.53.5/docs/Control-Category-Cartesian-Closed.html
ScalaZ?
Cats?

/cc @lemastero

[2020-12-28 03:42] sideeffffect opened #481 "Consider changing the associativity in AssociativeCompose"
Currently, the type parameter is
[code]
which means that it is left associative, but it should be right associative:
[code]

so that `a =>: b =>: c =>: ...` = `a =>: (b =>: (c =>: ...))`

https://www.scala-lang.org/files/archive/spec/2.12/06-expressions.html#prefix-infix-and-postfix-operations

blocked on https://github.com/zio/zio-prelude/pull/358

[2020-12-30 17:19] regiskuckaertz commented on #477
Thanks @sideeffffect I liked a lot what you said. Will keep on working on that and if I have anything useful to add, I'll raise again.

[2020-12-30 17:19] #477 closed

[2020-12-30 19:50] jdegoes opened #482 "Introduce ZIO Test-independent validations"
For smart constructors, we need an assertion-like entity that produces human English readable errors, with easy overriding of error messages. We should also think about making this Scala 3.0 compatible, in the sense that the encoding should permit us to check literals at compile-time in the Scala 3 sources for the feature.

The goal of this ticket is to remove dependency on ZIO Test from productio

[2020-12-31 14:46] jdegoes commented on #481
Good idea!

[2020-12-31 14:48] jdegoes opened #483 "Introduce smart constructors for polymorphic newtypes"

[2021-01-03 14:12] sideeffffect commented on #373
For the record, here are papers discussing laws for Traversable:
 * [M. Jaskelioff and O. Rypacek. An investigation of the laws of traversals. 2012.](https://arxiv.org/pdf/1202.2919.pdf)
 * [Richard Bird, Jeremy Gibbons, Stefan Mehner, Janis Voigtländer and Tom Schrijvers. Understanding Idiomatic Traversals Backwards and Forwards. 2013.](http://www.cs.ox.ac.uk/jeremy.gibbons/publications/uitbaf.pd

[2021-01-04 00:13] sideeffffect opened #484 "Consider incorporating Selective functor"
There's a new kid on the block: `Selective` functor, a sub-class of `Applicative` and super-class of `Monad` in the traditional hierarchy.
It is special by having a method `select: f (Either a b) -> f (a -> b) -> f b` that can have both an
 * Applicative interpretation (susceptible to inspection, but runs both effects) or the
 * Monad interpretation (runs only the first effect, if it turns out tha

[2021-01-04 01:18] sideeffffect commented on #392
Sorry for such a late response :crying_cat_face:

I really like this :+1:
[code]
I think we want this regardless of `collectFirst`/`forany` design considerations. Would you mind making a PR just for it?

Then I think we can have just
[code]
All the other functions should be derivable just from those.

[2021-01-05 15:02] jdegoes opened #485 "Investigate alternative encoding of type classes"
<https://contributors.scala-lang.org/t/encoding-type-class-hierarchies/4626/6>

[2021-01-05 17:00] sideeffffect commented on #484
Those are good news :+1: Less code to write and maintain :laughing:

How would we do it in ZIO Prelude then? :thinking:

[2021-01-05 17:01] sideeffffect commented on #485
Here's the "original" ticket
https://github.com/zio/zio-prelude/issues/477

[2021-01-05 17:03] sideeffffect commented on #485
@regiskuckaertz has come up with a very interesting scheme, but it doesn't work in Scala 2, which we probably wouldn't want to drop very soon.

[2021-01-06 00:28] jdegoes commented on #485
Actually when I saw the latest version, I became convinced it can be done in Scala 2.x.

[2021-01-06 00:39] sideeffffect commented on #485
:thinking: How would we work around Scala 2's lack of `export`?
I'm not saying it's not possible, I just don't see any obvious way right now, but I'd be excited to see what tricks can we teach Scala 2 :+1:

[2021-01-06 02:03] jdegoes commented on #485
It's called copy/paste/decorate. 😄 Since the cost is only born by library authors, and rather infrequent, it's acceptable IMO.

Not saying we should definitely do this encoding, only that it is achievable in 2.x.

[2021-01-06 08:59] regiskuckaertz commented on #485
Awesome that you are considering it ❤️ 💪 Yes, the Scala 2 version (which incidentally would also be Scala 3) would be more verbose sadly. Give me some time, I'll try it out this weekend.

[2021-01-10 06:23] #483 closed

[2021-01-10 08:48] regiskuckaertz commented on #485
Unfortunately there is a cost for users that I did not expect, see the PR for details. Scala crushes my hopes 💣

[2021-01-11 00:31] sideeffffect opened #490 "Add missing law tests for instances"
The laws should more or less correspond to which instances are documented where in the documentation charts.

Blocked on finishing the documentation charts https://github.com/zio/zio-prelude/issues/321

[2021-01-11 22:07] #329 closed

[2021-01-12 00:32] sideeffffect commented on #485
This was still an interesting journey! It was definitely worth it, even if we don't adopt this new encoding right now, because we learned something new, and who knows what value will we/somebody else recover from your experiment 5 years from now.
So don't let this let you down :muscle: :muscle: :muscle:

[2021-01-12 11:41] atnoya opened #496 "ZPure strange scenario blows with ClassCastException"
I apologize in advance because I am not I am not sure how to describe the issue better.

I wrote a simplified version of my code that exemplifies the issue.

See:
[code]

If you run `runComb` it works fine, however, if you run `runSeq` it blows with:

[code]

zio-prelude version: `1.0.0-RC1`

[2021-01-12 12:52] gurghet commented on #496
no idea what this is about, but copy-pasting this code and using the latest snapshot works.

[2021-01-13 22:27] #481 closed

[2021-01-15 19:33] jorge-vasquez-2301 commented on #482
@jdegoes I'll work on this one

[2021-01-17 08:00] kitlangton commented on #206
+1 on this. You can wrap the type in question in TraversableOps for now, but it's not quite as nice :)
I'm cool with `traverse` on this, seeing as the type class is `Traversable` anyhow.

[2021-01-17 14:35] jdegoes commented on #206
I'm fine with this, we can always add `foreach_` syntax for the `Unit` case. Or maybe go all-in on `forEach`, which is camel-case anyway (unlike `foreach`, which deviates from the usual Scala idiom).

[2021-01-17 23:15] sideeffffect commented on #496
@atnoya can you try reproducing with the latest snapshot?

[2021-01-18 10:05] #496 closed

[2021-01-19 10:03] regiskuckaertz commented on #485
Yeah. Have to admit it felt great to be able to write instances where they make sense. Gonna close this, feel free to reopen if you disagree that the experiment failed.

[2021-01-19 10:03] #485 closed

[2021-01-20 16:15] kitlangton commented on #206
Solved by #504! Hope it’s cool to close this ;)

[2021-01-20 16:15] #206 closed

[2021-01-21 04:50] #328 closed

[2021-01-27 00:18] sideeffffect opened #512 "Add IdentityFlatten instance for Set"

[2021-01-28 23:29] sideeffffect commented on #512
doesn't seem to be possible :sweat_smile:

[2021-01-28 23:29] #512 closed

[2021-02-05 20:24] phderome opened #536 "Offer a unit and as sugar methods to Validation"
I found myself using `Validation.fromPredicate(a: => A)(p: A => Boolean)` with a reasonably complex `A` but I don't care about the return the value, I just need it to evaluate predicate `p`. It seems like user API would be more complete with the helpers we often see in ZIO such as `unit` and `as`.

[2021-02-05 21:16] sideeffffect commented on #536
@phderome I suspect that you might be using an old version of ZIO Prelude. Please check out the newest version: https://github.com/zio/zio-prelude/releases/tag/v1.0.0-RC2
`Validation` has been superseded by `ZPure`, which you can think of as a generalized Validation. (Although Validation is still available as an alias.)
Here are examples how to use it:
https://github.com/zio/zio-prelude/blob/505d0

[2021-02-06 17:07] phderome commented on #536
oh thanks, I didn't realize that!

[2021-02-06 17:24] sideeffffect commented on #536
If you excuse my curiosity, may I ask what you're using ZIO Prelude for? Is it a github.com/zio project? Or your own?

[2021-02-06 17:27] phderome commented on #536
corporate use. The initial motivation was newtypes and now Validation.

[2021-02-06 17:40] sideeffffect commented on #536
:+1: Awesome, I hope it works well for you. If there are also some things that don't work well for you, please share negative feedback too! We want to make Prelude the best :smile_cat:

[2021-02-12 08:51] zalbia commented on #373
@sideeffffect I would love to have a go at it again as soon as I get the chance (which should be in a week or two). Will maintain @Badmoonz' insight on the minimum number of laws that need to be implemented.

[2021-02-12 10:43] zalbia commented on #373
That said, if anyone reading this wants to take this instead before I get to chance to work on it, please go ahead.

[2021-02-19 16:20] cosmin33 opened #548 "Incorrect definition of Invariant functor"
Invariant is now defined as an endofunctor in the category of Equivalence objects; The Equivalence objects are technically isomorphisms, as they adhere to the following laws: to >>> from <-> identity and from >>> to <-> identity

This definition is incorrect, as an invariant functor should be a functor from the category of a pair of functions (A => B, B => A) that don't have to follow the above la

[2021-03-01 17:28] sideeffffect commented on #548
@adamgfraser @jdegoes Interesting proposal. What do you guys think of it? Should we just change our current `Invariant`? Or make this new proposed a parent of our current `Invariant`?
I tried playing with this, but didn't get very far.

[2021-03-02 01:04] #536 closed

[2021-03-03 07:14] adamgfraser commented on #548
There is definitely a version of functor for what you described.

[code]

However, I'm not sure how useful it is. `Invariant` is already not the most useful type class as is. The only data types that have `Invariant` instances that are not also `Covariant` or `Contravariant` are some of the type classes like `Associative`, `Commutative`, and `Identity` and `Set`. You can't do a lot with them but y

[2021-03-04 14:27] cosmin33 commented on #548
It is more useful than you think: Monoids and all algebraic constructs inherited from it (lattices, bands, groups, ...) are derivable with  pair of functions `(A => B, B => A)` that don't have to be an isomorphism. The `Associative` class (from zio-prelude) being nothing more that a lazy monoid works just the same. `Commutative` also. Check closely and you'll discover that the isomorphism laws (pr

[2021-03-04 17:28] adamgfraser commented on #548
I don't think that is right in the absence of additional structure on `f` and `g`. For example, let's try to create an `Associative[String]` given an `Associative[Int]` and a pair of arbitrary functions:

[code]

The `Associative` instance we derived doesn't actually describe an associative operation. We need more structure on `f` and `g` than just being completely arbitrary functions.

[2021-03-05 09:32] cosmin33 commented on #548
The generated functions should still respect the invariant composition law required by the invariant functor:
[code]
This is the additional structure, so if the above law is respected then associativity should follow. In [cats](https://github.com/typelevel/cats/blob/2014f8a8d8073f289b46cebe4cc53b1d7f936f3c/core/src/main/scala/cats/Invariant.scala#L161) and [scalaz](https://github.com/scalaz/scalaz

[2021-04-09 19:19] roald-di opened #601 "A different encoding for Id and Const"
First of all, as a disclaimer, I have to say that I'm fairly new to scala so please be gentle!

This is as much a question as it is a proposal.

While learning scala over the past year I have come across two different encodings for the `Id` type which seem to have opposite pros and cons.

The first is just `type Id[+A] = A` as seen in scalaz and cats.
    + There's no need to explicitly wrap or un

[2021-04-09 22:38] adamgfraser commented on #601
I don't have a particularly strong feeling about this. I think ideally users shouldn't really have to interact with `Id` directly and it should just be used to implement different operators. If you want to try it with the ZIO Prelude code base and see if it works that would be great!

[2021-04-10 11:12] roald-di commented on #601
I just tried it and it has been very informative, at least now I know why no one was using it.

There are two problems that break this in scala 2.

The first is that the type argument can't be made covariant, it complains that `covariant type A occurs in contravariant position`, this has been fixed in scala 2.13.5.

The other is that `Id[Id[A]]` won't compile with `cyclic aliasing or subtyping inv

[2021-04-10 22:51] sideeffffect commented on #601
But don't get discouraged @roald-di , we're always welcoming to new contributors and there's still sooo much cool stuff to work on in ZIO Prelude. You can have a look at
https://github.com/zio/zio-prelude/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%23ziohackathon
or any other open ticket to take inspiration.
Or anything else you may think would be a useful addition to the _next gene

[2021-04-12 19:17] virusdave opened #604 "FR: Better dependencies re: test vs non-test"
[redirecting from https://github.com/zio/zio/issues/4952]

# Requested:
`zio-prelude` as a non-test library does not have direct compile-time dependencies on "testonly" libraries like `zio-test`.

# Background:
zio-prelude has a compile (non-test) dependency on zio-test.  This makes usage in Bazel world more painful, since bazel differentiates "testonly" targets from "other" targets, and prevents

[2021-04-12 19:24] adamgfraser commented on #604
The dependency is basically used in two places:

1. Assertions are used to support validation of data values
2. Laws and generators are used for defining the behavior of various abstractions

For the first we are already in the process of moving to separate macro powered assertions. For the second I think we could potentially move those laws into a separate hierarchy though it is not as nice in so

[2021-04-12 19:44] virusdave commented on #604
For 2, would making the dependency a ["test scope"](https://www.baeldung.com/maven-dependency-scopes#4-test) dependency be an option?

[2021-04-12 20:08] adamgfraser commented on #604
I'm not sure what the semantics of that are. The code is in places like [here](https://github.com/zio/zio-prelude/blob/5dd8c655dcf2e8cb07c8073eb7d3552c0403d9fc/core/shared/src/main/scala/zio/prelude/Associative.scala#L90). So there are lots of methods on this object that you definitely might want to call in production code in addition to these laws. What happens when you call one of these methods.

[2021-04-12 20:42] virusdave commented on #604
Ah, interesting, so probably not?  I'm definitely not an expert on Prelude's design, so maybe i'm suggesting the wrong locations for consideration of cuts or refactoring.  It might then be the upstream components that should be split?  Perhaps Laws are non test?  Or Generators are non test?  But specific uses of those ARE testing-only?

Given what you know of Prelude's design, is it even possible

[2021-04-12 21:01] adamgfraser commented on #604
I think conceptually it basically comes down to what you think of this design:

[code]

The benefit of this is that a type class essentially "comes with" a way of testing that instances satisfy its laws, which has some conceptual appeal. But it does mix "production" and "test" code to some extend versus a more traditional encoding such as:

[code]

[2021-04-12 22:37] sideeffffect commented on #604
Wouldn't the simplest solution (at least short- to mid-term) be to treat `zio-test` as a production artifact, not a mere test artifact?

Moving laws from `Compile` to `Test` configuration is something we could at least consider.

[2021-04-12 22:38] adamgfraser commented on #604
I think the problem is that at least in the Bazel world you want to enforce this very strong separation between test and production dependencies so you want ZIO Test to be a test only dependency so that anything else that depends on ZIO Test can't be included in your production code so you can't accidentally use test code in production.

[2021-04-13 00:24] sideeffffect commented on #604
Yes, so what is stopping Bazel users from treating, temporarily, ZIO Test as a production dependency?

[2021-04-13 00:25] adamgfraser commented on #604
I don't think anything is stopping them. My understanding is that is the workaround they are using today. They just don't like it. 😃

[2021-04-13 00:29] sideeffffect commented on #604
:smile_cat: Oh, OK! So we have some time to figure out if we want to move laws out, right?
I guess we could do that, cats do that too, if I'm not mistaken.

[2021-04-13 00:31] adamgfraser commented on #604
Yes I think that is right.

[2021-04-13 16:11] virusdave commented on #604
This seems sensible to me, assuming that `laws` refers to interfaces or implementations that are sensibly defined in non-test libraries and aren't intrinsically risky to include in non-test deployed code.  I'd have to look more into the details of `Laws` to speak more intelligently about it (which i'll do when I have some free time, eventually...).  If tests that assert that the laws aren't being

[2021-05-11 05:26] zalbia opened #615 "convenient sbt command aliases to test locally against a matrix of versions"
When working on libraries like zio-prelude, we often have to test locally against a matrix of versions. It would be nice to have some number of command aliases that cover that in one command for better DX.

If we can make it work here in zio-prelude, then perhaps we can replicate that model across other projects.

[2021-05-16 17:08] regiskuckaertz opened #628 "Composition of data structures"
I need to read how you define newtypes, but this data types:

[code]

is `IdentityBoth`, `ForEach`, etc. if its two underlying containers are. I will define this in my codebase but happy to contribute it if this sounds interesting.

[2021-05-16 18:04] regiskuckaertz opened #629 "Some additions to ForEach"
How about adding those?
[code]

[2021-05-17 00:52] sideeffffect commented on #629
`unzip` could work on a mere `Covariant`, since you just need a `map`, right?
If `collect` is possible, then :+1:

[2021-05-17 03:13] adamgfraser commented on #629
We should definitely add `collect`.

The issue with `unzip` I think is as @sideeffffect says above it requires just `Covariant` but if the structure is effectual it involves evaluating the structure twice. This is fine if the structure is a list but perhaps less intuitive if it is a `ZIO`.

[2021-05-17 03:19] adamgfraser commented on #628
I think we definitely want to have a solution for these composed abstractions. We already have some work in this direction, for example the `compose` operator on `AssociativeBoth`, but I'm not sure this provides the ergonomics since I don't think you would be able to use it implicitly. Perhaps a new type version of the above would be the best solution.

[2021-05-19 12:23] neko-kai commented on #216
@sideeffffect Yeah, that would be great. One thing is 2.11 support for  +_/-_ will not come, so we'd have to drop it. Alternatively, you can write \`+_\`/\`-_\` with the backticks - this will work across all versions including 2.11, but will be a bit uglier than +*/-*

[2021-08-31 13:55] afsalthaj opened #709 "Implement partition operations using `Alternative` and a form of `Foldable`"
Given a abstraction like `Foldable`, and `Bifoldable` (or through some other mechanisms given its absence in the library for now), we would need operations such as follows:

1. `partitionEither`

Given `F[A]`, being able to decide on each value of `A` to get either a `LeftB]` or `Right[C]`, and accumulate results on both ends using `Foldable[F]` and `Alternative[F]` to produce `(F[B], F[C])`. In t

[2021-08-31 14:00] adamgfraser commented on #709
@afsalthaj Yes would be great to add these. Will work on this.

[2021-09-01 06:17] afsalthaj opened #714 "Have ZipThese that can emit a disjunction especially to deal with collections"
[code]

Given the primitive `zipThese`, we are able to do a variety of derived combinators such as `zipAll` ?

Example:

[code]

[code]

`ZipThese` can be `Align` in classic package if needed.

[2021-09-01 10:28] adamgfraser commented on #714
I will do this.

[2021-09-02 12:53] afsalthaj commented on #714
Thanks Adam

[2021-09-06 21:00] #709 closed

[2021-09-10 20:24] #714 closed

[2021-09-20 17:52] adamgfraser commented on #604
Closed by #743.

[2021-09-20 17:52] #604 closed

[2021-09-20 17:53] adamgfraser commented on #482
Closed by #743.

[2021-09-20 17:53] #482 closed

[2021-09-20 17:55] adamgfraser commented on #376
Closed by #664.

[2021-09-20 17:55] #376 closed

[2021-09-28 20:20] sideeffffect opened #750 "Rename ZIO Prelude to ZIO Predef?"
This may be just a silly idea, but we still have a chance to consider it before the final 1.0.0 release.

The whole premise of this glorious project is to re-imagine functional abstractions library from first principles and _tailor it to Scala_, exploiting the language's specific strengths and features. In short: avoid "Haskellisms". But the name _Prelude_ kind of goes against this. Haskell has `P

[2021-09-28 20:44] adamgfraser commented on #750
I don't have very strong feelings one way or the other. You're right that the `prelude` name comes from Haskell and the Scala equivalent would be `Predef`. At the same time I feel like that is a little bit inside baseball where you have to know a good amount to even know `scala.predef` is a thing. There is also something to be said for consistency unless we think the change is significantly better

[2021-09-29 11:44] dgalichet opened #752 "Issue with new smart type"
Hi all,

I tried to play with the new smart type (I would like to use refined types) but I had some troubles with type inference.

Using prelude 1.0.0-RC6 that works like a charm (but without refined types). This code uses prelude 1.0.0-RC6+33-e1665a49-SNAPSHOT

Here is a code extract :
[code]

This fails to compile on the call on `make(_)` .  The compiler complains with the following error:
[code

[2021-10-08 15:26] adamgfraser opened #757 "Align Order Of Type Parameters In State Transition Functions With ZIO"
Should be `S => (A, S)` instead of `S => (S, A)`.

[2021-10-10 16:33] #757 closed

[2021-10-25 00:12] adamgfraser commented on #485
I don't think one approach is any more Scala idiomatic than the other, or, at least with where we are landing, that we are inventing any new patterns. The advice we give everyone regarding type classes is to either define them in the companion object of the data type or the type class, which is what we originally did and are talking about coming back to.

The approach above works though it require

[2021-10-29 11:07] sideeffffect opened #779 "Update Docusaurus to v2"
_Difficulty: Beginner to Intermediate, prior experience with Docusaurus or yarn/npm is an advantage_

Currently, we use Docusaurus v1 to build the website for ZIO Prelude: https://zio.github.io/zio-prelude/

ZIO 2 is already migrated, so we can draw inspiration from it:
https://github.com/zio/zio/tree/series/2.x/website

[2021-10-29 11:10] sideeffffect opened #780 "Add Mermaid support to Docusaurus v2"
_Difficulty: Beginner, prior experience with Docusaurus or yarn/npm is an advantage_

We have some diagram in Mermaid https://github.com/zio/zio-prelude/blob/master/docs/overview/diagrams.md
It would be nice to have them rendered to pictures automatically.

Docusaurus v2 can do that https://github.com/facebook/docusaurus/issues/1258#issuecomment-594393744

blocked on https://github.com/zio/zio-pre

[2021-10-31 10:21] mijicd opened #783 "Custom predicates in zio.prelude.Assertion"
Could it be possible to add another constructor, similar to [Assertion.assertion](https://github.com/zio/zio/blob/1bb0368e74f51e7c8b95c8675f731736d15cc527/test/shared/src/main/scala/zio/test/Assertion.scala#L115), that would allow passing custom predicates? If not, what would be the recommended alternative when dealing with "3rd party" validators (e.g., validating URLs)?

cc @kitlangton @adamgfras

[2021-10-31 14:49] kitlangton commented on #783
The only issue with this is that these fully custom assertions may not work at compile-time. By limiting to a known subset, we can reconstitute the methods at compile-time. But I could see this being valuable, even if it couldn't work at compile-time, just for the CustomType.make feature.

[2021-10-31 14:51] kitlangton commented on #783
Though perhaps I can mind-meld with @deusaquilus and see if I can copy some more quill-magic to get this to work.

[2021-11-05 14:27] subotic opened #791 "Adding get, getOrElse, toFuture to zio.prelude.Validation"
I would like to suggest a few methods for `zio.prelude.Validation`:

- `get`
- `getOrElse`
- `toFuture`

If someone would be generous enough to provide some pointers and to hold my hand a bit, I would like to take a stab at implementing those myself.

[2021-11-05 15:02] adamgfraser commented on #791
@subotic Yes that would be great!

I think I would prefer to avoid `get` as it would only be defined if `E` was a subtype of `Throwable` and would not be safe since it would throw exceptions.

`getOrElse` definitely makes sense and could have a signature like:

[code]

It could also make sense to have a variant that returned the log:

[code]

`toFuture` also makes sense I think. `Future` normally

[2021-11-05 15:35] subotic commented on #791
@adamgfraser thanks for the pointers. Let's see how far I'll get.

[2021-11-06 17:02] mschuwalow commented on #783
@kitlangton
In scala 2 something like this should be possible by evaling the code, similar to what refined is doing: https://github.com/umbreak/refined/blob/fc0fa21e917986e25a6a164192baa286c05bbe8d/modules/docs/macro_pitfalls.md

This seems to work for Liftable and is enough to have Assertion.Predicate (but produces ugly errors when used incorrectly):
[code]

For dotty nothing like eval exists and

[2021-11-07 01:35] kitlangton commented on #783
For Scala 3 we'll certainly be out of luck. But that's great! Perhaps a Scala 2 only extension then?

[2021-11-07 01:35] kitlangton commented on #783
We can also add a whole bunch of additional assertions. Let me know if there are any you'd like :)

[2021-11-07 11:17] mijicd commented on #783
Scala 2 extension would certainly fix the problem for us at the moment. I'm not sure how we can implement it for Scala 3, though. While more assertions are helpful, I think they transfer the validator maintenance cost to "userland", which is unfortunate and, in certain situations, dangerous.

[2021-11-07 11:25] mschuwalow commented on #783
Played around a little bit with scala3. If we are fine with making the user write a bit more code this seems to work:
https://github.com/zio/zio-prelude/pull/793

[2021-11-07 15:05] soujiro32167 opened #794 "General derivation support for Newtype and Subtype"
Using the `derive` function, I was able to derive instances for zio-json and zio-config on subtypes and newtypes:

[code]

Sadly, I could not find a way to generalize this for any subtype and newtype:

[code]

or

[code]

Is this even possible?

[2021-11-08 16:55] adamgfraser opened #795 "Documentation Needs To Show Correct Version"
The website here needs to show the most recent release.

https://zio.github.io/zio-prelude/docs/overview/overview_index#installation

[2021-11-10 22:57] soujiro32167 commented on #794
Ended up with
[code]

Usage:
[code]

[2021-11-12 22:20] sideeffffect commented on #791
We could also use something like this
[code]
Analogously to
https://typelevel.org/cats/api/cats/data/Validated.html#valueOr[B%3E:A](f:E=%3EB):B

[2021-11-13 01:13] sideeffffect commented on #791
We should be careful about `toFuture`. `Future` can contain at most one `Throwable`, so we would be loosing information here. Would be an easy to make mistake which users could regret.

[2021-11-13 01:15] adamgfraser commented on #791
Yes. I think we could have a variant that let the user provide a function to convert the errors to a `Throwable` and in the default version convert the others into suppressed exceptions.

[2021-11-13 01:22] sideeffffect commented on #791
We were actually working on something like that, weren't we? :smile:
https://github.com/zio/zio-prelude/pull/610
https://github.com/zio/zio-prelude/pull/603

[2021-11-13 01:23] adamgfraser commented on #791
😃 Yes we were debating the merits of suppressed exceptions though I think we have gone more in that direction with the recent efforts to make ZIO traces more similar to Java stack traces.

[2021-11-13 02:12] #791 closed

[2021-11-22 01:04] ghostdogpr opened #806 "Proposal to revert the changes in ZPure with State = Unit"
I am working on a project where all the business logic is written using `ZPure`. While trying to upgrade to RC7, I observed multiple problems with the changes on `ZPure`:
- Unlike `Any` and `Nothing` used in most ZIO data types, `Unit` is not a valid value for any user type, which causes a lot of problems. Even basic code like`if (cond) myZPure else ZPure.succeed(1)` doesn't compile because `ZPure

[2021-11-22 01:18] adamgfraser commented on #806
Yes I agree the current situation is not acceptable.

[2021-11-22 08:18] #806 closed

[2021-11-30 19:07] gaspb opened #817 "Subtype of Newtype cause cyclic subtyping error"
Hi,

Until RC8 we could do subtypes of newtypes
[code]

This is a pattern we use a lot, sometimes with multiple nesting levels.

Since RC8, this fails with

[code]

[2021-11-30 19:43] gurinderu commented on #817
It fails with scala 2 and works with scala 3.
Small example https://scastie.scala-lang.org/lGmEDrGCQbeB6kNdzZHgUg

[2021-12-01 07:11] adamgfraser commented on #817
@kitlangton Could you take a look at this when you get the chance?

[2021-12-03 14:03] LukasDBaker opened #821 "Newtype incompatibility with ZIO 2.0.0-M6"
The ZIO 2.0 update changes the allowed types for all ZIO effects and ZLayers. These changes are incompatible with zio-prelude's `Newtype`.

As of the 2.0 update, in types of the form `ZIO[R, E, A]` and `ZLayer[R, E, A]` neither `R` nor `A` is allowed to be an intersection type in almost all of ZIO's functionality (for example conversion of function to layer, `ZIO.apply` methods, etc.).

Since prel

[2021-12-03 14:10] kitlangton commented on #821
Gooood point. Will explore this. Thanks for the report!

[2021-12-04 08:20] octavz opened #824 "Newtype: validating tuples"
Hi,

[code]

We should have a way to build a custom assertion for any given type.

Thank you

[2021-12-04 16:54] FunFunFine opened #825 "Consider changing Z<Datatype> naming"
Hi!
Currently, `zio-prelude` has some data types that have `Z` prefix in their names along a special properties (e.g. warnings in `ZValidation`). It's understendable that their names must be different in some way to tell them apart from non-`Z`-versions. But this way of adding `Z`-prefix doesn't make it any easier to tell why a data type is special. It also does not correlate with main `zio` libra

[2021-12-04 23:08] adamgfraser commented on #825
@FunFunFine Hi! Thanks for the feedback!

The `Z` prefix actually indicates a more polymorphic version of another data type, not a data type that is effectual. So for example `IO` and `ZIO` are equally effectual but `ZIO` is more polymorphic because it has the additional type parameter `R`. Similarly `Ref` and `ZRef` are equally effectual but `ZRef` allows the get and set types to be different and

[2021-12-05 12:16] FunFunFine commented on #825
Well, I see the intention now, thank you!

I guess I won't be the first who gets such a question, so probably this whole `Z is for More Polymorphic` thing is worth mentioning somewhere on the microsite (perhaps even in ZIO one).

[2021-12-05 12:16] #825 closed

[2021-12-05 12:48] hmemcpy commented on #213
Would like to bump this, as I've seen comments/concerns about prelude depending on ZIO core. In our case this is certainly a blocker for using in certain scenarios (we'd like to keep our core domain pure of any IO effects, but Validation and ZPure would be very useful)

What are the blockers for removing direct dependency on ZIO?

[2021-12-05 16:11] adamgfraser commented on #213
Personally I view this as a non-goal.

While certainly possible, this would have the following disadvantages:

1. All instances For ZIO data types would become orphan instances, since they could not be defined inside the data type companion objects in ZIO or the type class companion object in ZIO Prelude. This would require them to be imported to be available which would go against one of our majo

[2021-12-06 06:46] hmemcpy commented on #213
I actually agree with most of your points, the alternative here is really to make all interop with ZIO via extension methods (`.toZIO` and friends) which could work, but is not ideal. Also, inverting the dependency is also a non-solution, because it goes against the goals of ZIO.

I feel that that the "lesser evil" here is possibly extracting a third library, like @rnd4222 suggested above - make a

[2021-12-06 09:49] adamgfraser commented on #213
I think this amounts to the same issues discussed above. It depends a little bit on what the scope is, but to the extent that type classes definitions don't depend on ZIO then instances for ZIO data types become orphans. To the extent that data types like `Validation` don't depend on ZIO then methods to interoperate with ZIO such as converting a `Validation` to a `ZIO` have to become extension met

[2021-12-09 21:05] adamgfraser commented on #825
Great idea! Copying @khajavi.

[2021-12-10 08:22] khajavi commented on #825
Will do!

[2021-12-10 15:10] mbaechler commented on #817
any idea if this use case will be supported again in the future?

[2021-12-10 15:33] kitlangton commented on #817
👍 I will look into this. It definitely should be supported.

[2021-12-11 22:05] ithinkicancode opened #829 "No snapshot builds since Nov 19"
I noticed that there has been no new snapshots since November 19:

https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-prelude_2.13/
https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-prelude_2.12/

In my initial investigation, I also noticed that Github actions have been failing lately. Not sure if this is related to the snapshot publishing issue, as this issue se

[2021-12-12 15:35] sideeffffect commented on #829
Here's a successfully published build from master (`fb4fcc1`) from 11th Dec.

https://github.com/zio/zio-prelude/actions/workflows/ci.yml?query=branch%3Amaster

https://github.com/zio/zio-prelude/runs/4491936389?check_suite_focus=true#step:5:533

https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-prelude_2.13/1.0.0-RC8+14-fb4fcc12-SNAPSHOT/

https://oss.sonatype.org/content/reposi

[2021-12-15 19:24] domdorn opened #833 "Smartypes in Subtypes don't work + error message wrong"
[code]

[code]

However, there is no `unsafeWrap` declared in `SampleType`

[2021-12-15 19:55] reibitto commented on #833
Perhaps the error message could say something like "Cannot validate runtime value at compile-time. Use `make` instead." or something to that effect so that it directs users to the right method.

[2021-12-23 15:46] TimPigden opened #836 "NonEmptyVector and NonEmptyMap"
Hi, My data models make extensive use of NonEmptyVector from cats. And I have desire for NonEmptyMap that's not based on sorted data. Would they have a place?
In notice the NonEmptySet here is not based on TreeSet - unlike cats where for reasons I don't really understand they can't use Set
"The problem is that the std lib Set type is unparametric and a non-empty version purely based on that one wo

[2021-12-23 16:03] adamgfraser commented on #836
ZIO already has a `NonEmptyChunk` data type that you can use as a replacement for `NonEmptyVector`. A `NonEmptyMap` that wraps a `Map` similar to how `NonEmptySet` wraps a `Set` would certainly be welcome.

[2021-12-23 16:35] TimPigden commented on #836
Adam - if you remember I had a shot at  benchmarking Chunk for a hackathon about a year ago (sadly I never got to finish). at the time the result was that performance of chunk could be better or much worse than vector for random access, depending on how the Chunks were created - whereas Vector is consistent. Has that changed?

[2021-12-23 16:39] adamgfraser commented on #836
There has been significant work on performance since then though random access will always be faster if you `materialize` it first.

[2021-12-23 17:10] TimPigden commented on #836
ok, nice - I've just been looking at chunk. I'm planning a big cats->prelude splurge on my code base for a few weeks time. I'll do the NonEmptyMap then

[2021-12-23 17:10] adamgfraser commented on #836
Great! Let me know if you need any help!

[2022-01-16 22:00] jdegoes opened #850 "Add annotations to Recursive via ZEnvironment"
`Recursive` can have a `annotations` field which is a `ZEnvironment`, initially empty. This will facilitate adding arbitrary type-directed annotations to nodes of a recursive structure.

/cc @DamianReeves

[2022-01-16 22:56] adamgfraser commented on #850
Will add this.

[2022-01-22 12:23] DamianReeves commented on #850
After some discussion with Adam it feels like a data type which knows how to combine annotations is needed. I pushed up a first pass at this.

[2022-01-22 14:03] adamgfraser commented on #850
The `AnnotationMap` approach with an associative combining operation is certainly a valuable one for specific cases. I wonder if we should stick with the `ZEnvironment` approach here, which I think is a bit more general (basically just supporting having the concept of multiple annotations).

The annotation map approach could be used by implementers of specific recursive data types when they wanted

[2022-01-22 14:51] DamianReeves commented on #850
Good point. I am working on a couple of examples of tree structures which we would want to annotate, maybe these use-cases will help us settle on an API.

[2022-01-22 15:19] DamianReeves commented on #850
Is it maybe possible to combine the `AnnotationMap` and `ZEnvironment` into one `Annotations` data structure which supports both scenarios?

[2022-01-22 15:46] adamgfraser commented on #850
I think you could build that logic on top of `ZEnvironment` by defining a function `(ZEnvironment[Annotations], ZEnvironment[Annotations]) => ZEnvironment[Annotations]`.

[2022-01-22 19:01] #850 closed

[2022-02-19 10:19] TimPigden commented on #836
I'm looking at this now.  I've been thinking, I ought to do the NonEmptyVector at the same time - the reason being anyone coming over to prelude from cats may be using NonEmptyVector and not be entirely trusting that Chunks are going to give them exactly the same or better performance characteristics.
And - a weakness in the cats NonEmptySet implementation is it entirely based on TreeSet, which is

[2022-02-19 11:59] TimPigden opened #876 "there's no "-" method on NonEmptySet"
was this just left out or was it deliberate?

[2022-02-19 12:58] TimPigden commented on #876
OK, I get it - because remove returns a Set not a NonEmptySet
So looking at the API, I'd personally like a removeNonEmpty(elem: A): Option[NonEmptySet[A]]
which is a set-based equivalent to tailNonEmpty
I'll put one in

[2022-02-19 13:41] TimPigden commented on #836
@adamgfraser ok, a bit of help required.
I downloaded master
I've written all the code, I've absolutely no idea what I'm doing with respect to cross-compiles and so on (we simply don't need it at work)
or what version of zio I should be running.
Is there a simple hack for the build environment so I can compile and test under my current dev setup without all this scalanative and js stuff? And how a

[2022-02-19 17:00] adamgfraser commented on #836
If you just run SBT and go to one of the `JVM` projects you can test that on just the JVM and the latest Scala version. Eventually it will need to pass on all Scala versions but I don't think there should be a lot of issues there.

I worry that a `NonEmptyVector` is not really a data type we recommend using (we should just use `NonEmptyChunk` instead) and there is significant boilerplate code ther

[2022-02-19 17:02] adamgfraser commented on #876
Sounds good.

[2022-02-19 17:55] TimPigden commented on #836
so what I've done atm is have an object NonEmptySet.NonEmptySortedSet that
has a  similar set of constructors to NonEmptySet, though each with an
implicit scala.math.ordering. As it constructs the NonEmptySortedSet it
constructs with a TreeSet which is otherwise invisible. So the functional
difference is that the iterators (or .toChunk or whatever) come out sorted
- and obviously use a different i

[2022-02-19 17:58] TimPigden commented on #836
wrt to the NonEmptyMap - I can't replicate (or don't know how to) the set
of methods like
[code]
because Map as a pair of type params.  Any suggestions (other than not
bothering)

On Sat, 19 Feb 2022 at 17:54, Tim Pigden ***@***.***> wrote:

--
Tim Pigden
Optrak Distribution Software Limited
+44 (0)1992 517100
http://www.linkedin.com/in/timpigden
http://optrak.com
Optrak Distribution Software Ltd

[2022-02-19 18:03] TimPigden commented on #836
Actually on second thoughts I ought do the range stuff, so I'll need a parallel full implementation

[2022-02-20 13:41] TimPigden commented on #836
oops - ignore the pull request. I forgot the additional tree methods!

[2022-02-20 14:51] TimPigden commented on #836
ok, just to note what's been done:
3 new things added NonEmptySortedSet, NonEmptyMap and NonEmptySortedMap
NonEmptySortedSet is almost exactly the same as NonEmptySet - I tried to factor out the common stuff but all the types became an unreadable nightmare and I gave up. Likewise NonEmptyMap and NonEmptySortedMap are mostly the same.
NonEmpySortedSet has 2 todos in the code - I couldn't figure out

[2022-02-23 05:01] ajaychandran opened #878 "Unable to use extensions for NewtypeF"
The following [example](https://scastie.scala-lang.org/z96qOAdQRC6ne0KG7Rd7Bw) fails to compile.

[code]

Is this usage incorrect/unsupported?

[2022-02-23 05:19] adamgfraser commented on #878
@ajaychandran You just need to do `import PropF._`.

[2022-02-23 05:32] ajaychandran commented on #878
Thanks @adamgfraser.

Adding an import statement does resolve the issue but it impacts usability adversely.
I am trying to define new operators so that no extra imports are required (this [works](https://scastie.scala-lang.org/8CQFMflmQ3ChgCdKFhG0Mw) for `Newtype` instances). Is it not possible to do the same with `NewtypeF`?

[2022-03-04 16:35] adamgfraser opened #883 "Catch Exceptions In Newtype Constructors"
The following snippet will currently throw a runtime exception since the string cannot be parsed to a `UUID`:

[code]

Instead, the implementation of `make` could catch the error and render it as a string.

It is a little debatable whether we should catch thrown exceptions like this in addition to assertion failures but I tend to think with these "smart" types we should catch and render thrown exc

[2022-03-06 12:10] sideeffffect commented on #883
Currently, the type of `make` is
[code]
So we would need to change it to
[code]
right?

Since we're already changing the signature, why not even
[code]
to have richer information about the error?

[2022-03-06 18:08] adamgfraser commented on #883
I'm not sure if we need to do the by name parameter since we are doing this at compile time but we potentially could. I'm not sure we get that much value from making it an `IllegalArgumentException` since if we do anything I think we would want to catch any errors that are not fatal so we would have to return `Throwable` and at that point we aren't really getting any additional information.

[2022-03-06 19:29] sideeffffect commented on #883
If we didn't do that, the type of the method would tell a different story from what effectively happens, right? I think could unnecessarily confuse people.

[2022-03-07 17:27] adamgfraser commented on #883
I think evaluating something at compile time already kind of tells a different story but I don't think it is a problem to make it by name and looks like that is what we are doing with `assertTrue`.

[2022-03-09 16:26] TimPigden opened #884 "ForEach.reduceIdentity / sum is somewhat confusing"
the whole use of ForEach is non-obvious (a documentation issue) and when trying to use the ForEach sum function there's a name collision with the scala standard collections sum - resulting (in my combination of imports at least) in the wrong sum being used.
Thus the .sum is more or less pointless. And it replicates the function of reduceIdentity

But reduceIdentity is absolutely not an obvious nam

[2022-03-09 16:44] TimPigden opened #885 "Newtype - minor change to docs"
The one thing the docs don't actually say (though the author probably thinks it's implied)
"Smart Newtypes can only be validated at compile-time when called with literals, such as 9000 or "Fancy Pants". When wrapping variables or run-time values, you can use the make or makeAll."

is that if there is an assertion in the type e.g.
[code]
then an attempt to call the standard apply method will fail w

[2022-03-09 16:50] TimPigden opened #886 "Newtype - docs"
A paragraph on difference between newtypes and opqaue types would be really good since they do similar things

[2022-03-10 00:44] sideeffffect commented on #884
For the record, I think I like `combineAll`, it aligns well with the `combine` method on `Associative`.

[2022-03-10 07:13] adamgfraser commented on #884
Yeah, I think we could do that or something like `concatenate`.

[2022-03-20 08:20] #878 closed

[2022-03-21 19:47] juliano commented on #821
Hello there, I've migrated a project recently and started dealing with a related problem, when using zio newtypes in my tests ([initially from here](https://discord.com/channels/629491597070827530/630498701860929559/955549036058906657)):

[code]
wherever ZIO.service[UserToken] is used now I get:
[code]
Maybe it can be useful :)

[2022-03-23 14:10] nbenns opened #895 "Add relevant instances for Gen from zio-test"
It would be nice to be able to use prelude combinators when creating Generators using zio-test, for example `IdentityBoth`, `Covariant` instances to support `mapN`, `forEach` and `flip`.

However, adding instances to zio-prelude itself would cause it to depend on zio-test and therefore pull zio-test into application code.

Should there be separate sub-module created to support these test instances

[2022-03-29 22:14] domdorn opened #897 "release version built against zio 1.0.13"
I ran into problems cause this library (RC8) is still depending on zio 1.0.12 and pulling in 1.0.12 versions of zio-macros that for some reason didn't get replaced with the 1.0.13 version by sbt. I ended up having two versions of zio-test and their zio-test-macros and got runtime errors in IntelliJ when trying to run my tests.

Please release a version that depends on 1.0.13 so others don't run in

[2022-03-29 22:46] adamgfraser commented on #897
Thanks for the nudge! Just did a release!

[2022-03-29 22:46] #897 closed

[2022-03-29 23:20] #885 closed

[2022-04-18 22:28] #884 closed

[2022-05-05 07:48] strokyl commented on #817
:+1:

[2022-05-24 02:37] SimY4 opened #919 "Add Validation#toEitherAssociative and Validation#toZIOAssociative methods"
There's a way to convert Validation into Either or ZIO by placing accumulated errors into NonEmptyChunk or Cause hierarchy.

I propose adding an additional way of conversion through provided Associative type class that will provide shared custom rules for errors aggregation.

[code]

[2022-05-26 08:22] adamgfraser commented on #919
Sounds good to me.

[2022-05-29 13:31] gurghet opened #922 "equalTo not working with the compile-time smart types"
[code]
results in
[code]
while
[code]
compiles correctly.

[2022-06-29 00:10] #919 closed

[2022-07-18 13:30] BalduinLandolt opened #945 "Validation.validateAll() for Sets?"
I don't know if that's easily possible, but I'd find it very handy to be able to use `Validation.validateAll()` on Sets, not just on Lists.

I find myself often having a `Set[Validation[E, A]]` which I want to turn into `Validation[E, Set[A]]`. Currently I have to do `Validation.validateAll(set.toList).map(_.toSet)` which works, but it feels unnecessary cumbersome.

[2022-07-18 15:47] adamgfraser commented on #945
Will take a look at this.

[2022-07-18 18:51] BalduinLandolt commented on #945
If you think it might be an easy one, I'd be happy to contribute (though I might need pointers on where to start, still new to the ZIO ecosystem).

[2022-07-18 22:33] adamgfraser commented on #945
Just added it. The only tricky thing is that normally `validateAll` is implemented in terms of the `ForEach` functional abstraction, but that does not apply to sets. We can work around this by just implementing a specialized version of the method directly much as you did.

[2022-07-19 06:39] BalduinLandolt commented on #945
great, thanks!

[2022-07-22 14:57] alphaho commented on #821
A workaround I come up with is like below. But not sure whether it breaks the ZEnvironment's mechanism or not in this way.
If it's a viable option, maybe we can put it into the `NewType`'s definition, so that all zio-prelude users can benefit from this.

Maybe @kitlangton can help shed some light on this.

[code]

[2022-07-23 13:16] sideeffffect commented on #821
@kitlangton I've put you as the assignee because you seem to understand this the most of us.

[2022-07-25 16:00] thiloplanz commented on #817
Related question: How does one write an `assertion` in this scenario?

[2022-07-26 17:05] kurtlogan opened #947 "Make Validation.toZIO return all validation failures"
It would be good if the `toZIO` operator on `Validation` returned all of the failures that occured in the error channel.

As an example if I were to create this
[code]
I would see that the return type would be `IO[String, Nothing]` with error channel only containing the first failure, my expectation however would be that the return type was something like `IO[NonEmptyChunk[String], Nothing]` and c

[2022-07-26 17:20] adamgfraser commented on #947
@kurtlogan Hi! The `toZIO` operator does preserve all of the failures using ZIO's `Cause` data type. You can expose them with the `parallelErrors` operator on `ZIO`.

[2022-07-27 07:54] kurtlogan commented on #947
I'm using `parallelErrors` at the moment however it feels unintuitive to have to, I reach for `Validation` because I care about all the failures equally and that doesn't change when I convert it to the `ZIO` data type

[2022-07-27 14:07] adamgfraser commented on #947
Hmmm, I think other people had the opposite expectation. You start with a `Validation[E, A]`, which has a single `E` in the type parameter but models the possibility of multiple failures, you get back an `IO[E, A]` which also has a single `E` in the type parameter and also can model the possibility of multiple failures. If anything it seems like we are not properly taking advantage of the data typ

[2022-07-27 21:25] kitlangton commented on #817
On this 👍

[2022-07-28 00:18] kitlangton commented on #817
Ready 2 go!https://github.com/zio/zio-prelude/pull/949

[2022-07-28 09:02] kurtlogan commented on #947
They do both model the possibility of multiple failures but `Validation` treats all failures equally, If I were to call `mapError` on `Validation` I would apply the function to all failures and with `fold` I would need to handle a `NonEmptyChunk[E]` in the first argument where as with `ZIO` this is not the case.

So as an example the following would  produce different results while looking almost

[2022-07-28 19:03] #817 closed

[2022-07-28 20:04] #945 closed

[2022-07-28 20:17] adamgfraser commented on #947
Those two actually are the same (there was a recent bug fix related to this that will be available in the next release).

`Cause` can preserve multiple parallel failures and they are both recoverable failures that are of equal "priority". `ZIO` is more flexible than `Validation` in that you can use operators that handle a single error, such as `fold`, but you can also always work with all errors u

[2022-07-28 20:42] sideeffffect commented on #947
btw is this the one you have in mind?

https://github.com/zio/zio-prelude/pull/920

[2022-07-28 20:44] adamgfraser commented on #947
No zio/zio#7122.

[2022-07-29 07:59] kurtlogan commented on #947
NO worrys, thanks for taking the time to explain it to me

[2022-07-29 07:59] #947 closed

[2022-07-31 19:10] kitlangton commented on #821
I wonder if this will be fixed by #949. I'll check this out this week.

[2022-08-03 10:58] mijicd commented on #783
Closed by @mschuwalow in #793

[2022-08-03 10:58] #783 closed

[2022-09-05 10:52] ashwinbhaskar commented on #821
Facing the same issue as well. Is there a temporary work around for this?

[2022-10-03 18:29] soujiro32167 commented on #821
Still not working; sadness

[2022-10-04 06:17] carlos-verdes opened #963 "Flatmap `>>=` operator"
I could not find support for ` >>=` , it would be great for composition.
Something like:
[code]

[2022-10-04 13:57] sideeffffect commented on #963
Let me link to comment by @adamgfraser
https://github.com/zio/zio-prelude/pull/965#issuecomment-1267020980

Long story short, symbolic methods have a higher cognitive cost that probably isn't worth it here.

I will close the ticket now. As always, we may reconsider adding this in the future.
But thanks for your interest in ZIO Prelude, we hope that you will enjoy it even without `>>=`.

[2022-10-05 06:16] carlos-verdes commented on #963
I started long time back with Scalaz, then found Cats, created my first framework using Free Monads... understood it was quite complex for new people to adopt and understand... then I moved to tagless final and found couple of videos on ZIO.

Right now I'm moving into full ZIO and obviously I missed all the cats functional type classes etc. so I'm giving an opportunity to zio-prelude (for me it ha

[2022-10-12 08:50] guizmaii opened #969 "Issue with zio-prelude 1.0.0-RC8-1 (zio1) macros and Scala 2.13.[9|10]"
Hi everyone 🙂

Since Scala 2.13.9, our prelude's newtypes are not compiling anymore.
I reported the issue to Scala here: https://github.com/scala/bug/issues/12647

Lukas Rytz suggests making a change in prelude's macros to make them work with Scala 2.13.9+ here: https://github.com/scala/bug/issues/12647#issuecomment-1275760141

I don't have enough time to try to make this change for now that's why

[2022-10-12 11:16] sideeffffect commented on #969
@kitlangton you our macro guru. If you have the time, maybe you can have a look at this? :bow:

[2022-10-12 16:35] som-snytt commented on #969
I'm new to this code, but I suggest on the Scala ticket that it might be enough to
[code]
where the `Any` magically makes the compiler use the refined RHS.

I haven't tried more than a simple test under Scala 2 only.

[2022-10-14 05:12] guizmaii commented on #969
FYI, @som-snytt made a PR on Scala to fix this issue: https://github.com/scala/scala/pull/10188

[2022-10-28 16:14] mschuwalow commented on #922
will take a look at this

[2022-10-29 14:42] #922 closed

[2022-10-31 18:05] guizmaii commented on #969
Fixed in https://github.com/scala/scala/pull/10188

Fix will be released with Scala 2.13.11

[2022-10-31 18:05] #969 closed

[2022-11-24 05:09] quelgar opened #1003 "`ClassTag` for `NewType` stopped working in RC16"
Not sure if this is a regression or I'm missing something:

[code]

[2022-11-28 05:28] quelgar commented on #484
I find the idea of an introspectable monad very interesting, so I had a go at it myself. When googling, I found [a gist from John](https://gist.github.com/jdegoes/3330177b555150525b36489c3131a596), and yeah it looks like the way to do this is to restrict the types supported such that they have a “finite” (really, this means quite small) number of possible values. For example, the following defines